<!--Main-->
<div id="forgotPassDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-container" style="width:520px">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-header">
                <div class="row form-group">
                    <div class="col-sm-12">
                        <h3 class="modal-title" style="text-align: center">QUÊN MẬT KHẨU</h3>
                    </div>
                    <div class="col-sm-12" align="center">
                        <p>Bạn vui lòng nhập tên tài khoản và Email của mình để lấy lại mật khẩu.</p>
                        <h4 style="color:red;margin-left:5px;" id="ErrorMessage1"></h4>
                    </div>
                </div>
            </div>
            
    <!--start forgot password form-->
    <div class="modal-body">
        <form name="ForgotPassForm" id="ForgotPassForm" role="form" novalidate>
            <!--username input-->
            <div class="row form-group">
                <div class="col-sm-12">
                    <label for="UserNameInput">
                        <span class="col-sm-4">Tên đăng nhập</span>
                        <span class="col-sm-8" ng-show="ForgotPassForm.UserNameInput.$dirty && ForgotPassForm.UserNameInput.$invalid" style="color: #d9534f">
                            <span class="glyphicon glyphicon-remove " style="color: #d9534f"></span>
                            <span ng-show="ForgotPassForm.UserNameInput.$error.required">không được để trống</span>
                            <span ng-show="ForgotPassForm.UserNameInput.$error.minlength">phải dài hơn 8 kí tự</span>
                            <span ng-show="ForgotPassForm.UserNameInput.$error.maxlength">phải ngắn hơn 20 kí tự</span>
                            <span ng-show="ForgotPassForm.UserNameInput.$error.pattern">chỉ gồm chữ và số</span>
                        </span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <span class="col-sm-11">
                        <input class="form-control" type="text" name="UserNameInput" id="UserNameInput" placeholder="Tên đăng nhập"
                               ng-model="UserNameInput"
                               required
                               ng-minlength="8"
                               ng-maxlength="20"
                               ng-pattern="/^[a-zA-Z0-9]+$/">
                    </span>
                    <span class="col-sm-1" style="padding: 0px">
                        <i class="fa fa-check text-success" ng-show="ForgotPassForm.UserNameInput.$dirty && ForgotPassForm.UserNameInput.$valid"></i>
                    </span>
                </div>
                <!--end username input-->
            </div>
            <!--user email input-->
            <div class="row form-group">
                <div class="col-sm-12">
                    <label for="EmailInput">
                        <span class="col-sm-4">Địa chỉ email</span>
                        <span class="col-sm-8" ng-show="ForgotPassForm.EmailInput.$dirty && ForgotPassForm.EmailInput.$invalid" style="color: #d9534f">
                            <span class="glyphicon glyphicon-remove " style="color: #d9534f"></span>
                            <span ng-show="ForgotPassForm.EmailInput.$error.required">không được để trống</span>
                            <span ng-show="ForgotPassForm.EmailInput.$error.email">không đúng định dạng </span>
                        </span>
                    </label>
                </div>

                <div class="col-sm-12">
                    <span class="col-sm-11">
                        <input class="form-control" name="EmailInput" id="EmailInput" type="email" placeholder="email@domain.com"
                               ng-model="EmailInput"
                               autocomplete="off"
                               required>
                    </span>
                    <span class="col-sm-1" style="padding: 0px">
                        <i class="fa fa-check text-success" ng-show="ForgotPassForm.EmailInput.$dirty && ForgotPassForm.EmailInput.$valid"></i>
                    </span>
                </div>
            </div>
        </form>
            <!--end email input-->
</div>
    <!--end form-->
            <!--button submit-->
            <div class="modal-footer">
                <div class="row form-group">
                    <div class="col-sm-11">
                        <input type="button" name="submitForgotPass" id="submitForgotPass" class="btn btn-danger btn-block" 
                        value="Lấy lại mật khẩu!" ng-disabled="!ForgotPassForm.$dirty || (ForgotPassForm.$dirty && ForgotPassForm.$invalid)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //thuc hien check roi submit
    $(function () {
        $('#submitForgotPass').click(function() {
            $('#ErrorMessage1').html("");
            $.getJSON("/ForgotPassword/ValidateUser", { userName: $("#UserNameInput").val(), emailAdress: $("#EmailInput").val() }, function (data) {
                if (data == "notExist") {
                    $('#ErrorMessage1').html("Tài khoản hoặc email không tồn tại!");
                } else if (data == "blocked") {
                    $('#ErrorMessage1').html("Tài khoản bị khóa hoặc chưa xác nhận Email!");
                } else {
                    $.ajax({
                        type: "POST",
                        url: "@(Url.Content("~/ForgotPassword/Index"))",
                        datatype: "JSON",
                    data: {
                        userName: $("#UserNameInput").val(),
                        emailAdress: $("#EmailInput").val()
                    }
                });
                }
            });
        });
    });
    $("#divHtml").load("Home/Chart",
        function () {
            $("#divHtml").dialog({
                modal: true,
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                    }
                }
            });
        }
    );
</script>
