<div id="forgotPassDialog" class="modal fade" role="dialog">
    <div class="modal-dialog" style="margin-top:7%;">
        <div class="modal-container" style="width:520px">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-header">
                <div class="row form-group">
                    <div class="col-sm-12">
                        <h3 class="modal-title" style="text-align:center">QUÊN MẬT KHẨU</h3>
                    </div>
                    <div class="col-sm-12" align="center">
                        <p>Bạn vui lòng nhập tên tài khoản và Email của mình để lấy lại mật khẩu.</p>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-sm-12">
                        <label for="username">
                            Tên đăng nhập
                            <!-- <span class="pull-right"></span> -->
                        </label>
                    </div>

                    <div class="col-sm-12">
                        <input type="text" name="username" placeholder="Tên đăng nhập">
                    </div>

                </div>

                <div class="row form-group">
                    <div class="col-sm-12">
                        <label for="email">
                            Địa chỉ email
                            <!-- <span class="pull-right"></span> -->
                        </label>
                    </div>

                    <div class="col-sm-12">
                        <input type="text" name="email" placeholder="Email@domain.com">
                    </div>
                </div>



            </div>

            <div class="modal-footer">
                <div class="row form-group">
                    <div class="col-sm-12">
                        <input type="submit" name="submitForgotPass" value="Lấy lại mật khẩu!">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
