<div>
    <p>
        Bạn đã đăng ký tài khoản thành công!
        Xin vui lòng đăng nhập tài khoản Email đã đăng ký của bạn để nhận 
        <a href="https://mail.google.com">mã xác nhận</a>
    </p>
</div>
