
<script type="text/javascript" src="~/Content/js/checkVerifycode.js"></script>

        <div class="divPanel notop nobottom">
    
        </div>

        <div class="contentArea">

            <div class="divPanel notop page-content">

                <div class="breadcrumbs">
                    <a href="@Url.Content("/#/Home")">Trang Chủ</a> &nbsp;/&nbsp; <span>Xác nhận tài khoản</span>
                </div>

                <div class="row-fluid">
                    <!--Edit Main Content Area here-->
                    <div class="span12" id="divMain">
                        <div class="row-fluid">

                            <section id="content">
                                @using (Html.BeginForm("updateIsverify", "Login", FormMethod.Post, new { @class = "verify-content", @id = "VerifyForm", @name = "VerifyForm", role = "form" }))
                                {
                                    <h2 style="color: #7E7E7E;font: bold 25px Helvetica, Arial, sans-serif;letter-spacing: -0.05em;line-height: 20px;margin: 10px 0 30px;">Xác nhận tài khoản</h2>
                                    <div>
                                        <span id="ErrorNotExistUser" style="color: red"></span>
                                        <input type="text" placeholder="Tên đăng nhập" id="UserName" name="UserName" required=""/>
                                    </div>
                                    <div>
                                        <span id="ErrorCode" style="color: red"></span>
                                        <input type="text" placeholder="Mã xác nhận" id="VerifyCode" name="VerifyCode" required=""/>
                                    </div>
                                    <div>
                                        <input id="VerifyBtn" onclick=" return false; " type="submit" style="margin-left: 35%" value="Xác nhận"/>
                                    </div>
                                }
                            </section><!-- content -->
                        </div>

                        <hr>
                        <br>


                    </div>
                    <!--End Main Content here-->

                </div>

                <div id="footerInnerSeparator"></div>
            </div>
        </div>
        @Html.Partial("../Home/_Footer")
<br/><br/><br/>


