@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div ng-view=""></div>
@*Import all scrips for admin page there*@
@section scripts{
    
    <!-- Load angular scripts -->
    @Scripts.Render("~/bundles/angular")
    <script src="~/App/AdminModules.js"></script>
    <script src="~/App/AdminController/UserListController.js"></script>
    <script src="~/App/AdminController/AdminDashboardController.js"></script>
    <!--Load Controller-->

    <!--Javascripts-->



}
