@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div ng-view=""></div>
@*Import all scrips for admin page there*@
@section scripts{
    <!-- GLOBAL SCRIPTS -->
    <!-- Load Jquery scripts -->
    <script src="~/Content/scripts/sweetalert/sweetalert.min.js"></script>
    <script src="~/Content/Admin/js/jquery.min.js"></script>
    <script src="~/Content/Admin/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/Admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Load angular scripts -->
    @Scripts.Render("~/bundles/angular")
    <script src="~/Scripts/data-tables/angular-datatables.min.js"></script>
    <script src="~/Scripts/data-tables/angular-datatables.bootstrap.js"></script>
    <!--Load Controller-->
    <script src="~/App/AdminModules.js"></script>
    <script src="~/App/AdminController/AdminDashboardController.js"></script>   
    <script src="~/App/AdminController/UserListController.js"></script>
    <script src="~/App/AdminController/UserDashboardController.js"></script>
    <script src="~/App/AdminController/UserProfileController.js"></script>
    <script src="~/App/AdminController/AdminThreadController.js"></script>
    <script src="~/App/AdminController/AdminThreadDetailController.js"></script>
    <script src="~/App/AdminController/AdminEventController.js"></script>
    <script src="~/App/AdminController/AdminOrganizationController.js"></script>
    <script src="~/App/AdminController/AdminOrganizationListController.js"></script>
    <script src="~/App/AdminController/AdminOrganizationDetailController.js"></script>

    <!--Load Directive-->
    <script src="~/App/Directives/SweetAlert.min.js"></script>

    <!--Javascripts-->
    <script src="~/Scripts/data-tables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../../Content/js/plugins/datatables/datatables-bs3.js"></script>
    <!-- PAGE LEVEL PLUGIN SCRIPTS -->



}
