@model WingS.Models.DTOs.CreateEventInfo
@*<script src="../../Content/scripts/bootstrap/css/bootstrap.min.css" type="text/javascript"></script>*@
<script src="../../Content/scripts/tinymce/js/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    // Initialize your tinyMCE Editor with your preferred options
    tinyMCE.init({
        // General options
        selector: "textarea",
        theme: "modern",
        // Theme options
        theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
        theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
        theme_advanced_buttons3: "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
        theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|,styleprops,spellchecker,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,blockquote,pagebreak,|,insertfile,insertimage",
        theme_advanced_toolbar_location: "top",
        theme_advanced_toolbar_align: "left",
        theme_advanced_statusbar_location: "bottom",
        theme_advanced_resizing: true,

        // Example content CSS (should be your site CSS)
        //content_css: "css/example.css",
    });
</script>
<style>
    textarea {
        height: 300px;
    }
</style>

<body id="pageBody">
    <div id="divBoxed" class="container">

        <div class="transparent-bg" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; zoom: 1;"></div>

        <div class="divPanel notop nobottom">
            @Html.Partial("../Home/_NavigationBar")
            <div class="row-fluid">
                <div class="span12">
                    <div id="contentInnerSeparator"></div>
                </div>
            </div>
        </div>
    <div class="contentArea">

        <div class="divPanel notop page-content">

            <div class="breadcrumbs">
                <a href="Home.html">Trang chủ</a> &nbsp;/&nbsp;<a href="#"> Sự kiện</a> &nbsp;/&nbsp; <span>Tạo sự kiện</span>
            </div>
	<!-- Content-->
	<div class="row-fluid">
	<div class="span11">
	<ul class="nav nav-tabs">
	  <li class="active"><a data-toggle="tab" href="#home" onclick=" return false">Nội dung</a></li>
	  <li><a data-toggle="tab" href="#menu1" onclick=" return false">Lịch trình</a></li>
	  <li><a data-toggle="tab" href="#menu2" onclick=" return false">Hình ảnh và Video</a></li>
	</ul>
@using (Html.BeginForm("CreateEvent", "EventPage", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <div class="tab-content">
        <!-- Tab content -->
        <div id="home" class="tab-pane fade in active">
            <!--Loại sự kiện-->
            <div class="alert alert-danger" style="background-color: rgb(240, 240, 240); color: rgb(41, 41, 41);">
                <div class="row-fluid">
                    <div class="span3" align="center">
                        <h3 style="margin-top: 25px;"><strong>Loại sự kiện</strong>
                        </h3>
                    </div>
                    <div class="span9">
                        <select name="EventType" style="height: 42px; margin-top: 7px; padding: 10px; border-color: rgb(224, 95, 3); border-radius: 10px;">
                            <option value="1">Giáo dục</option>
                            <option value="2">Văn hóa</option>
                            <option value="3">Y tế</option>
                            <option value="0">Khác</option>
                        </select>
                        <p>Chọn loại sự kiện mà bạn muốn tổ chức
                        </p>

                    </div>
                </div>
            </div>
            <!--Chủ đề-->
            <div class="alert alert-danger" style="background-color: rgb(240, 240, 240); color: rgb(41, 41, 41);">
                <div class="row-fluid">
                    <div class="span3" align="center">
                        <h3 style="margin-top: 25px;"><strong>Chủ đề</strong>
                        </h3>
                    </div>
                    <div class="span9">
                        <input name="EventName" type="text" style="margin-top: 7px; padding: 10px; border-color: rgb(224, 95, 3); border-radius: 10px; width: 80%;" id="eventTitle"/>
                        <p>Nhập vào chủ đề không dài quá 50 kí tự.
                        </p>
                        <p>Chủ bạn nhập vào sẽ giúp mọi người tìm kiếm dễ dàng hơn.
                        </p>

                    </div>
                </div>
            </div>
            <!--Địa điểm-->
            <div class="alert alert-danger" style="background-color: rgb(240, 240, 240); color: rgb(41, 41, 41);">
                <div class="row-fluid">
                    <div class="span3" align="center">
                        <h3 style="margin-top: 25px;"><strong>Địa điểm</strong>
                        </h3>
                    </div>
                    <div class="span9">
                        <input name="Location" type="text" style="margin-top: 7px; padding: 10px; border-color: rgb(224, 95, 3); border-radius: 10px; width: 80%;"/>
                        <p>Địa điểm tổ chức sự kiện</p>
                    </div>
                </div>
            </div>
            <div class="alert alert-danger" style="background-color: rgb(240, 240, 240); color: rgb(41, 41, 41);">
                <div class="row-fluid">
                    <div class="span3" align="center">
                        <h3 style="margin-top: 25px;">
                            <strong>Kinh phí dự kiến</strong>
                        </h3>
                    </div>
                    <div class="span9">
                        <input name="ExpectedMoney" type="number" style="margin-top: 7px; padding: 10px; border-color: rgb(224, 95, 3); border-radius: 10px; width: 80%;" />
                        <p>Địa điểm tổ chức sự kiện</p>
                    </div>
                </div>
            </div>
            <!--Nội dung-->
            <div class="alert alert-danger" style="background-color: rgb(240, 240, 240); color: rgb(41, 41, 41);">
                <div class="row-fluid">
                    <div class="span3" align="center">
                        <h3 style="margin-top: 25px;"><strong>Nội dung</strong>
                        </h3>
                    </div>
                    <div class="span9">
                        <p>Mô tả sự kiện của bạn </p>
                        <textarea name="Content"></textarea>
                    </div>
                </div>
            </div>
            <div class="alert alert-danger" style="background-color: rgb(240, 240, 240); color: rgb(41, 41, 41);">
                <div class="row-fluid">
                    <div class="span3" align="center">
                        <h3 style="margin-top: 25px;">
                            <strong>Thông tin liên hệ</strong>
                        </h3>
                    </div>
                    <div class="span9">
                        <p>Thông tin liên hệ của bạn: </p>
                        <textarea name="Contact"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tab Timeline -->
        <div id="menu1" class="tab-pane fade">
            <div class="alert alert-danger" style="background-color: rgb(240, 240, 240); color: rgb(41, 41, 41);">
                <div class="row-fluid">
                    <p><strong>Thời gian diễn ra</strong>
                    </p>
                    <div class="row-fluid">
                        <span class="span6">
						 <span class="span3" style="padding-top: 10px;">Từ ngày</span>
						 <span class="span9"><input type="date" name="StartDate" id="starDate" style="padding: 10px; border-color: rgb(224, 95, 3); border-radius: 10px;" /></span>
					 </span>
					 
                        <span class="span6">
						 <span class="span2" style="padding-top: 10px;">đến ngày</span>
						 <span class="span10"><input type="date" name="EndDate" id="endDate" style="padding: 10px; border-color: rgb(224, 95, 3); border-radius: 10px;"/></span>
					 </span>
                    </div>
                </div>
            </div>
            <div class="alert alert-danger" style="background-color: rgb(240, 240, 240); color: rgb(41, 41, 41);">
                <p><strong>Lịch trình chi tiết</strong>
                </p>
                <!--Timeline-->
                <div id='TextBoxesGroup'>
                    <div id="TextBoxDiv">
                        
                    </div>
                </div>
                <div class="row-fluid">
                    <button id="addButton" type="button" class="btn btn-medium btn-info" style="margin-left: 470px; margin-right: 20px;">
                        <i class="fa fa-plus" aria-hidden="true"></i> Thêm lịch trình</button>
                    <button id="removeButton" type="button" class="btn btn-medium btn-danger">
                        <i class="fa fa-minus" aria-hidden="true"></i> Xóa lịch trình</button>
                </div>
            </div>
        </div>




        <!-- Tab Image and Video -->
        <div id="menu2" class="tab-pane fade">
            <div class="alert alert-danger" style="background-color: rgb(240, 240, 240); color: rgb(41, 41, 41);">
                <div class="row-fluid">
                    <div class="span3" align="center">
                        <h3 style="margin-top: 25px;"><strong>Hình ảnh </strong>
                        </h3>
                    </div>
                    <div class="span9">
                        <p>Chọn hình ảnh bạn có<span style ="color: red;"> 	BẮT BUỘC</span></p>
                        <input type="file" class="multiple" name="Images" multiple required accept="image/*">
                        <p style="font-weight: bold;">Chọn file với định dạng JPEG, PNG, GIF, hoặc BMP. Ít nhất với 1024x768 pixels, tỉ lệ 4x3 và không vượt quá 20MB.</p>

                    </div>
                </div>
            </div>
            <div class="alert alert-danger" style="background-color: rgb(240, 240, 240); color: rgb(41, 41, 41);">
                <div class="row-fluid">
                    <div class="span3" align="center">
                        <h3 style="margin-top: 25px;"><strong>Video</strong>
                        </h3>
                    </div>
                    <div class="span9">
                        <input type="text" name="VideoUrl" style="margin-top: 7px; padding: 10px; border-color: rgb(224, 95, 3); border-radius: 10px; width: 80%;"/>
                        <p>Nhập vào đường link của đoạn phim bạn có
                        </p>
                    </div>
                </div>
            </div>
            <div style="padding-bottom: 100px"></div>

        </div>
        <div class="row-fluid">
            <div align="right">
                <button type="submit" id="createEventBtn" class="btn btn-navbar-highlight btn-medium btn-primary" style="width: 150px; height: 50px">Tạo sự kiện </button>
            </div>
        </div>
    </div>
}

        
	</div>
	</div>
	</div>
	</div>
	</div>
            <div id="footerOuterSeparator"></div>

            @Html.Partial("../Home/_Footer")
<br/><br/><br/>
    <script src="../../Content/scripts/default.js" type="text/javascript"></script>
    <script src="../../Content/scripts/wookmark/js/jquery.wookmark.js" type="text/javascript"></script>
    <script type="text/javascript">$(window).load(function () { var options = { autoResize: true, container: $('#gridArea'), offset: 10 }; var handler = $('#tiles li'); handler.wookmark(options); $('#tiles li').each(function () { var imgm = 0; if ($(this).find('img').length > 0) imgm = parseInt($(this).find('img').not('p img').css('margin-bottom')); var newHeight = $(this).find('img').height() + imgm + $(this).find('div').height() + $(this).find('h4').height() + $(this).find('p').not('blockquote p').height() + $(this).find('iframe').height() + $(this).find('blockquote').height() + 5; if ($(this).find('iframe').height()) newHeight = newHeight + 15; $(this).css('height', newHeight + 'px'); }); handler.wookmark(options); handler.wookmark(options); });</script>
    <script src="../../Content/scripts/yoxview/yox.js" type="text/javascript"></script>
    <script src="../../Content/scripts/yoxview/jquery.yoxview-2.21.js" type="text/javascript"></script>
    <script type="text/javascript">$(document).ready(function () { $('.yoxview').yoxview({ autoHideInfo: false, renderInfoPin: false, backgroundColor: '#ffffff', backgroundOpacity: 0.8, infoBackColor: '#000000', infoBackOpacity: 1 }); $('.yoxview a img').hover(function () { $(this).animate({ opacity: 0.7 }, 300) }, function () { $(this).animate({ opacity: 1 }, 300) }); });</script>
<script type="text/javascript">
    var counter = 1;
    $(document).ready(function () {
        $('#eventTitle').focus();
        $("#addButton").click(function () {
            if (counter > 10) {
                alert("Chỉ có thể tạo tối đa 10 lịch trình");
                return false;
            }
            var newTextBoxDiv = $(document.createElement('div'))
                .attr("id", 'TextBoxDiv' + counter);

            newTextBoxDiv.after().html('<div class="row-fluid" >'
                + '<span class="span6">'
                + '	 <span class="span3" style="padding-top:10px;">Từ ngày</span>'
                + '	 <span class="span9"><input type="date" name="FromDate' + counter + '" id="fromDate' + counter + '" style="padding:10px; border-color:rgb(224, 95, 3);border-radius:10px;"/></span>'
                + '</span>'
                + '<span class="span6">'
                + '	 <span class="span2" style="padding-top:10px;">đến ngày</span>'
                + '	 <span class="span10"><input type="date" name="ToDate' + counter + '" id="toDate' + counter + '"style="padding:10px; border-color:rgb(224, 95, 3);border-radius:10px;"/></span>'
                + '</span>'
                + '</div>'
                + '<div class="row-fluid" >'
                + '<p></p>	'
                + '<div class="row-fluid" >'
                + '<span class="span12">'
                + '	 <span style="padding-top:25px;">Mô tả</span>'
                + '	 <span style="margin-left:66px"><textarea name="Description' + counter + '" id="descrip' + counter + '" class="form-control"rows="4" style="width:72%;">'
                + '	 </textarea>'
                + '	 </span>'
                + '</span>'
                + '</div>'
                + '</div>'
                + '<hr>');

            newTextBoxDiv.appendTo("#TextBoxesGroup");

            counter++;
        });

        $("#removeButton").click(function () {
            if (counter == 1) {
                alert("Không thể xóa thêm lịch trình");
                return false;
            }
            counter--;
            $("#TextBoxDiv" + counter).remove();

        });
    });
</script>
</body>

