<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../Content/css/eventList.css">

        <div class="contentArea">

            <div class="divPanel notop page-content">

                <div class="breadcrumbs">
                    <a href="/#/Home">Trang chủ</a> &nbsp;/&nbsp; <span>Sự kiện </span>
                </div>

                <hr>
                <div class="row-fluid">
                    <section class="col-8">
                        <div class="contentList" ng-repeat="item in EventList| limitTo: paginationLimit()">
                            <a href="@Url.Content("/#/EventDetail/{{item.EventID}}")">
                                <img src="{{item.MainImageUrl}}" alt="" />
                            </a>
                            <!-- Title -->
                            <div class="title" style="font-family: inherit;">
                                {{item.EventName}}
                            </div>
                            <!-- Infor basic of event -->
                            <div class="info">
                                <a href="@Url.Content("/#/OrganizationDetail/{{item.CreatorID}}")"><span>Tạo bởi:</span>&nbsp;{{item.CreatorName}}<span class="space"></span></a>
                                <span>Thể loại:</span>&nbsp;{{item.EventType}}&nbsp;<span class="space"></span>
                                <span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i> {{item.CreatedDate}}
                                </span>
                            </div>
                            <br />
                            <div class="contentEvent" style="font-family: inherit;">
                                <p>{{item.ShortDescription}}<p>
                            </div>
                            <a href="@Url.Content("/#/EventDetail/{{item.EventID}}")">Xem chi tiết &raquo;</a>
                            <hr>
                        </div>
                    </section>

                    <aside class="col-4">

                        <div class="form-group">
                            <h3 class="asideTitle">Sắp xếp theo:</h3>
                            <select class="eDropdown" ng-options="option for option in listOfOptions"
                                    ng-model="selectedItem"
                                    ng-change="LoadEventSortByOpion()">
                                
                            </select>
                        </div>
                        <hr/>
                        <!--Event type-->
                        <h3 class="title" style="">Thể loại</h3>
                        <div class="asideContentCatelogy" style="display: block;">
                            <ul style="list-style-type: circle;">
                                <li ng-repeat="item in EventType track by $index" ng-click="getEventByType(item.EventTypeID)">
                                    <a>{{item.EventTypeName}}</a>
                                </li>
                             
                            </ul>
                        </div>
                        <hr>
                        <!--Create Event-->
                        <div class="span12" ng-if="User_Information.IsOrganazation==true">
                            <div class="box">
                                <label id="createEvent1"><a><i class="icon-tasks"></i></a></label>
                                <label id="createEvent2"><a style="color: #333;"><h4>TẠO SỰ KIỆN</h4></a></label>
                                <input type="hidden" id="UserIdHd" value="{{User_Information.UserId}}"/>
                                <button type="button" hidden id="WarnCreateEvent" data-toggle="modal" data-target="#WarnningEvent"></button>
                                <hr>
                                <script type="text/javascript">
                                    $("#createEvent1").click(function () {
                                        $.getJSON("/EventPage/CheckCreateEvent", { userId: $("#UserIdHd").val() }, function (data) {
                                            if (!data) {
                                                $('#WarnCreateEvent').click();
                                            }
                                            else {
                                                window.location.href = "/#/CreateEvent/";
                                            }
                                        });
                                    });
                                    $("#createEvent2").click(function () {
                                        $.getJSON("/EventPage/CheckCreateEvent", { userId: $("#UserIdHd").val() }, function (data) {
                                            if (!data) {
                                                $('#WarnCreateEvent').click();
                                            }
                                            else {
                                                window.location.href = "/#/CreateEvent/";
                                            }
                                        });
                                    });
                                </script>
                                <p>
                                    Tạo ra những sự kiện từ thiện riêng của bạn để kêu gọi đóng góp.
                                </p>
                            </div>
                        </div>
                        <div class="span12" ng-if="User_Information.IsOrganazation==false">
                            <div class="box">
                                <a href="/#/CreateOrganization"><i class="icon-tasks"></i></a>
                                <a href="/#/CreateOrganization" style="color: #333;"><h4>TẠO TỔ CHỨC</h4></a>
                                <hr>
                                <p>
                                    Tạo ra tổ chức để có thể tạo những sự kiện riêng của bạn.
                                </p>
                            </div>
                        </div>
                    </aside>
                </div>
                
                <!--/End Portfolio Content Area-->
                <br />
                <div align="center">
                    <a class="btn btn-primary" href="#" onclick=" return false; " ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()"><i class="icon-refresh icon-spin"></i> Xem thêm...</a>
                </div>
                <br/>
                <div id="footerInnerSeparator"></div>
                <hr style="border-top: 1px solid #2865a1;" />
                <div class="row-fluid">
                    <!--Edit Main Content Area here-->
                    <div class="span12" id="divMain">
                        <h1>Xếp hạng các tổ chức</h1>
                        <hr/>
                    </div>
                    <div class="row-fluid">

                        <div class="span4" align="center" ng-repeat="item in Organization track by $index">
                            <div class="organization-title">
                                <h4 class="text-info">{{item.OrganizationName}}</h4>
                            </div>
                            <div class="organization-img">
                                <img src="{{item.LogoUrl}}" class="img-circle" style="width:111px;height:118px; margin: 5px 0px 15px;">
                            </div>
                            <div class="organization-content">
                                <p>{{item.Introduction}}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Warnning Modal -->
            <div class="modal modal-flex fade" id="WarnningEvent" tabindex="-1" role="dialog" aria-labelledby="flexModalLabel" aria-hidden="true" hidden>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="color: #fff; background-color: #2f4254;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="flexModalLabel">
                                Thông báo : Không thể tạo sự kiện!
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <p>Bạn không thể taọ sự kiện vì tổ chức của bạn đã bị cấm hoặc chưa kích hoạt.</p>
                            </div>
                        </div>
                        <div class="modal-footer" style="background-color: #e0e7e8;">
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
            @Html.Partial("../Home/_Footer")
        </div>
