
<body id="pageBody">
    <link href="~/Content/css/EventDetail.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/progressbar.css">
    <link rel="stylesheet" href="~/Content/css/paging.css">
    <script src="../../Content/scripts/lightbox/dist/js/lightbox-plus-jquery.min.js" type="text/javascript"></script>
    <div id="divBoxed" class="container">

        <div class="transparent-bg" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: -1;zoom: 1;"></div>

        <div class="divPanel notop nobottom">

            @Html.Partial("../Home/_NavigationBar")
            <div class="row-fluid">
                <div class="span12">
                    <div id="contentInnerSeparator"></div>
                </div>
            </div>
        </div>

        <div class="contentArea">

            <div class="divPanel notop page-content">

                <div class="breadcrumbs" style="font-size: 18px; padding-bottom:20px;">
                    <a href="Home.html">Trang chủ</a> &nbsp;/&nbsp; <span>Chi tiết sự kiện</span>
                </div>

                <!--Star event content -->

                <div class="row-fluid">
                    <section class="col-8">
                        <!-- Video clip -->
                        <iframe width="745px" height="400" src="{{Event.VideoUrl}}" frameborder="0" allowfullscreen></iframe>
                        <!-- Title -->
                        <div class="title">{{Event.EventName}}</div>
                        <!-- Infor basic of event -->
                        <div class="info">
                            <span>Tạo bởi:</span> {{Event.CreatorName}}<span class="space"></span>
                            <span>Thể loại:</span> {{Event.EventType}}<span class="space"></span>
                            <span>
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                               {{Event.CreatedDate}}
                            </span>
                        </div>
                        </br>
                        <!-- Tab content -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#contentEvt"  onclick="return false">Nội dung</a></li>
                            <li><a data-toggle="tab" href="#timeline" onclick="return false">Lịch trình</a></li>
                            <li><a data-toggle="tab" href="#list" onclick="return false">Danh sách đóng góp</a></li>
                            <li><a data-toggle="tab" href="#contact" onclick="return false">Liên hệ</a></li>
                            <li><a data-toggle="tab" href="#comment" onclick="return false">Bình luận</a></li>
                        </ul>
                        <div class="tab-content">
                            <!-- Content -->
                            <div id="contentEvt" class="tab-pane fade in active" style="background-color: #f6f6f6; padding-left:3px;padding-right:3px;">
                                <div class="contentEvent">
                                    <p ng-bind-html="Event.Content"><p>
                                </div>
                                <div>
                                    <p style="font-weight: 600;"><strong>Sự kiện được tổ chức tại:&nbsp;</strong>{{Event.Location}}</p>
                                </div>
                                <div class="row-fluid">
                                    <div>
                                        <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-3.jpg" alt="" style="height: 150px;" /></a>
                                        <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-4.jpg" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-4.jpg" alt="" style="height: 150px;" /></a>
                                        <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-5.jpg" data-lightbox="example-set" data-title="The next image in the set is preloaded as you're viewing."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-5.jpg" alt="" style="height: 150px;" /></a>
                                        <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-6.jpg" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-6.jpg" alt="" style="height: 150px;" /></a>
                                    </div>
                                </div>
                                <br>
                                <hr style="border: 1px solid #e05f03;">
                                <div class="info">
                                    <div style="margin-top: 5px;">
                                        <div class="span3">
                                            <span id="like" onclick="changeLikeStt()"><i class="fa fa-thumbs-up" aria-hidden="true" title="Số lượt thích"></i> 50</span>
                                        </div>
                                        <div class="span3">
                                            <i class="fa fa-users" aria-hidden="true" title="Số người tham gia sự kiện"></i> 500
                                        </div>
                                        <div class="span3">
                                            <i class="icon-share-alt" title="Hãy chia sẻ nội dung này đến mọi người"></i> Chia sẻ
                                        </div>
                                        <div class="span2">
                                            <i class="icon-flag" style="margin-left:300px;"></i>
                                        </div>

                                    </div>
                                </div>
                                </hr>
                            </div>
                            <!-- Timeline -->
                            <div id="timeline" class="tab-pane fade" style="background-color: #f6f6f6;">
                                <p ><span style="font-weight: 600;;color:blue">Thời gian diễn ra sự kiện:</span>  {{Event.Start_Date}}-{{Event.Finish_Date}}  </p>
                                <p style="font-weight: 600;color:blue;">Lịch trình cụ thể:</p>
                                <p ng-repeat="item in EventTimeLine">
                                    <span style="font-weight: 600;">Từ ngày {{item.FromDate}} đến ngày {{item.ToDate}}</span></br>
                                    {{item.Content}}
                                </p>
                            </div>

                            <!-- List User Donated -->

                            <div id="list" class="tab-pane fade">
                                <table id="tableData" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width: 30px;">STT</th>
                                            <th style="width: 215px;">HỌ VÀ TÊN</th>
                                            <th style="width: 215px;">SỐ TIỀN<span style="padding-left:114px;">VND</span></th>
                                            <th>GHI CHÚ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Đỗ Văn Tuấn</td>
                                            <td>1.000.000</td>
                                            <td>Quyên góp là việc làm tốt </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Gia Đình Cô Diệu Đức và bạn</td>
                                            <td>500.000</td>
                                            <td>Quyên góp là việc làm tốt</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Philip</td>
                                            <td>500.000</td>
                                            <td>Quyên góp là việc làm tốt</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Maria</td>
                                            <td>500.000</td>
                                            <td>Quyên góp là việc làm tốt</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Julia</td>
                                            <td>3.500.000</td>
                                            <td>Quyên góp là việc làm tốt</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Jane</td>
                                            <td>3.500.000</td>
                                            <td>Quyên góp là việc làm tốt</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>Susan</td>
                                            <td>Crane</td>
                                            <td>Quyên góp là việc làm tốt</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>Lucas</td>
                                            <td>3.500.000</td>
                                            <td>Quyên góp là việc làm tốt</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>Mark</td>
                                            <td>3.500.000</td>
                                            <td>Quyên góp là việc làm tốt</td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>Hilde</td>
                                            <td>3.500.000</td>
                                            <td>Quyên góp là việc làm tốt</td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>John</td>
                                            <td>3.500.000</td>
                                            <td>Quyên góp là việc làm tốt</td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td>Hans</td>
                                            <td>3.500.000</td>
                                            <td>Quyên góp là việc làm tốt</td>
                                        </tr>
                                        <tr>
                                            <td>12</td>
                                            <td>Hans</td>
                                            <td>3.500.000</td>
                                            <td>Quyên góp là việc làm tốt</td>
                                        </tr>
                                        <tr>
                                            <td>13</td>
                                            <td>Hans</td>
                                            <td>3.500.000</td>
                                            <td>Quyên góp là việc làm tốt</td>
                                        </tr>
                                        <tr>
                                            <td>14</td>
                                            <td>Hans</td>
                                            <td>3.500.000</td>
                                            <td>Quyên góp là việc làm tốt</td>
                                        </tr>
                                        <tr>
                                            <td>15</td>
                                            <td>Hans</td>
                                            <td>3.500.000</td>
                                            <td>Quyên góp là việc làm tốt</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                            <!-- Contact -->
                            <div id="contact" class="tab-pane fade">
                                <p style="background-color: #f6f6f6;">
                                    Mọi chi tiết xin liên hệ:</br>
                                    Đại Đức Thích Trí Bửu 0909-38-49-68</br>
                                    CHÙA PHÁP GIỚI</br>
                                    Địa Chỉ: 110/55, Tô Hiệu, Phường Hiệp Tân, Quận Tân Phúv</br>
                                    Tài khoản ngân hàng</br>
                                    Chủ tài khoản : Trần Nhất Linh</br>
                                    Tài khoản ngân hàng vietcombank : stk 0251002704728</br>
                                    Tài khoản ngân hàng đầu tư và phát triểu Việt Nam BIDV</br>
                                    Chi nhánh Bắc Sài Gòn</br>
                                    TK: 31310000568465</br>
                                    Ngân Hàng VIETIN BANK : STK: 711A74674914</br>
                                </p>
                            </div>

                            <!-- Comment -->
                            <div id="comment" class="tab-pane fade">
                                <div class="media" ng-repeat="item in CommentThread| limitTo: paginationLimit()">
                                    <a class="pull-left" href="#">
                                        <img src="{{item.UserImageProfile}}" style="width:64px; height:64px;" class="img-rounded" alt="" />
                                    </a>
                                    <div class="media-body">
                                        <strong class="media-heading"> {{item.UserCommentedName}}</strong>&nbsp;{{item.Content}}
                                    </div>
                                    <div class="media-bottom" style="margin-left:66px;">
                                        <i class="general foundicon-clock" style="font-size: 12px;"></i> <small>{{item.CommentedTime}}</small>&nbsp;&nbsp;<span ng-show="checkIsExistedSubComment({{item.CommentId}})"><strong style="color:rgb(208, 88, 3);">Đã có một vài trả lời</strong> </span>&nbsp;&nbsp;<a href="#" onclick="return false;" @*ng-if="User_Information.IsAuthen"*@ ng-click="showReply[$index]=true;getSubcomment(item.CommentId, $index)">Trả lời</a>
                                    </div>
                                    <div ng-show="showReply[$index]">
                                        <div class="media" style="margin-left: 67px;" ng-repeat="subcomment in SubCommentThread[$index]">
                                            <a class="pull-left" href="#">
                                                <img src="{{subcomment.UserImageProfile}}" style="width:64px; height:64px;" class="img-rounded" alt="" />
                                            </a>
                                            <div class="media-body">
                                                <strong class="media-heading"> {{subcomment.UserCommentedName}}</strong>&nbsp;{{subcomment.Content}}
                                            </div>
                                            <div class="media-bottom" style="margin-left:67px;">
                                                <i class="general foundicon-clock" style="font-size: 12px;"></i> <small>{{subcomment.CommentedTime}}</small>
                                            </div>
                                        </div>

                                        <div ng-if="User_Information.IsAuthen" style="margin-left:67px;">
                                            <br />
                                            <a class="pull-left" href="#">
                                                <img src="{{User_Information.ProfileImage}}" style="width:40px; height:40px;" class="img-rounded" alt="" />
                                            </a>&nbsp;&nbsp;&nbsp;<input class="subContent" type="text" placeholder="Nhập bình luận" style="width:50%; height:40px; " ng-model="$parent.Subcontent" my-Enter="addSubComment(Subcontent,{{item.CommentId}},$index)" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>
                    <!-- Aside content -->
                    <aside class="col-4">
                        <!-- Process Donate -->
                        <div class="urgent-progress">
                            <div class="amount">
                                <span style="font-size: 22px;font-weight: 300;">HIỆN TẠI:</span>
                                <span style="font-size: 22px;font-weight: 700;">123,567,000 VND</span>
                            </div>

                            <div class="progressbar position" data-percent="75" data-duration="1000" data-color="#ccc,#e05f03">

                            </div>
                            <div class="amount">
                                <span style="font-size: 22px;font-weight: 300;">DỰ KIẾN:</span>
                                <span style="font-size: 22px;font-weight: 700;">{{Event.ExpectedMoney}} VNĐ</span>
                            </div>

                        </div>
                        <!-- Newest event list -->
                        <h3 class="title">Mới nhất</h3>
                        <div class="asideContentEvent" style="display: block;">
                            <!-- First content -->
                            <div class="item">
                                <div class="col-3">
                                    <img style="height:70px;" src="portfolio/600x400.png" />
                                </div>
                                <div class="col-9">
                                    <a href="" class="title1">Phát động chương trình "Ngọt ngào ước mơ đêm trung thu lần 5" năm 2016</a>
                                </div>
                                <div class="info"
						<span><i class="fa fa-calendar-o"></i> 12/10/2016</span>
					</div>
                            </div>

                            <!-- Second content -->
                            <div class="item">
                                <div class="col-3">
                                    <img style="height:70px;" src="portfolio/600x400.png" />
                                </div>
                                <div class="col-9">
                                    <a href="" class="title1">"Ngọt ngào ước mơ đêm trung thu lần 5" năm 2016</a>
                                </div>
                                <div class="info"
						<span><i class="fa fa-calendar-o"></i> 12/10/2016</span>
					</div>
                            </div>

                            <!-- Three content -->
                            <div class="item">
                                <div class="col-3">
                                    <img style="height:70px;" src="portfolio/600x400.png" />
                                </div>
                                <div class="col-9">
                                    <a href="" class="title1">"Ngọt ngào ước mơ đêm trung thu lần 5" năm 2016</a>
                                </div>
                                <div class="info"
						<span><i class="fa fa-calendar-o"></i> 12/10/2016</span>
					</div>
                            </div>

                            <!-- Four content -->
                            <div class="item">
                                <div class="col-3">
                                    <img style="height:70px;" src="portfolio/600x400.png" />
                                </div>
                                <div class="col-9">
                                    <a href="" class="title1">"Ngọt ngào ước mơ đêm trung thu lần 5" năm 2016</a>
                                </div>
                                <div class="info"
						<span><i class="fa fa-calendar-o"></i> 12/10/2016</span>
					</div>
                            </div>

                            <!-- Five content -->
                            <div class="item">
                                <div class="col-3">
                                    <img style="height:70px;" src="portfolio/600x400.png" />
                                </div>
                                <div class="col-9">
                                    <a href="" class="title1">"Ngọt ngào ước mơ đêm trung thu lần 5" năm 2016</a>
                                </div>
                                <div class="info"
						<span><i class="fa fa-calendar-o"></i> 12/10/2016</span>
					</div>
                            </div>
                        </div>

                        <!--Event type-->
                        <h3 class="title">Thể loại</h3>
                        <div class="asideContentCatelogy" style="display: block;">
                            <ul style="list-style-type: circle;">
                                <li>
                                    <a href="#">Văn hóa - Xã hội</a>
                                </li>
                                <li>
                                    <a href="#">Giáo dục</a>
                                </li>
                                <li>
                                    <a href="#">Y tế</a>
                                </li>
                                <li>
                                    <a href="#">Khác</a>
                                </li>
                            </ul>
                    </aside>
                </div>




                <hr>
                <!--Rank of Organization-->
                <h3>Xếp hạng các tổ chức</h3>
                <div class="row-fluid">

                    <div class="span4" align="center">
                        <h5 class="text-info">Tổ chức:</h5>
                        <img src="images/services-image.jpg" class="img-polaroid img-circle" style="margin:5px 0px 15px;" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /><a href="#">Read More &raquo;</a></p>
                    </div>
                    <div class="span4" align="center">
                        <h5 class="text-info">Tổ chức:</h5>
                        <img src="images/services-image.jpg" class="img-polaroid img-circle" style="margin:5px 0px 15px;" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /><a href="#">Read More &raquo;</a></p>
                    </div>
                    <div class="span4" align="center">
                        <h5 class="text-info">Tổ chức:</h5>
                        <img src="images/services-image.jpg" class="img-polaroid img-circle" style="margin:5px 0px 15px;" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /><a href="#">Read More &raquo;</a></p>
                    </div>
                </div>
            </div>

            <div id="footerOuterSeparator"></div>

            @Html.Partial("../Home/_Footer")
        </div>
        <br /><br /><br />
        <script type="text/javascript" src="../../Content/js/paging.js"></script>
        <script type="text/javascript" src="../../Content/js/changeColor.js"></script>
        <script type="text/javascript" src="../../Content/js/progressbar.js"></script>
        <script type="text/javascript">
	$(document).ready(function() {
		$('#tableData').paging({limit:10});
	});
	$(".progressbar").loading();
	$('input').on('click', function () {
		 $(".progressbar").loading();
	});
        </script>

</body>
