<script src="~/Scripts/Chat.js"></script>   

<body id="pageBody">
    <div id="divBoxed" class="container">

        <div class="transparent-bg" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; zoom: 1;"></div>

        <div class="divPanel notop nobottom">
            @Html.Partial("../Home/_NavigationBar")
            <div class="row-fluid">
                <div class="span12">
                    <div id="contentInnerSeparator"></div>
                </div>
            </div>
        </div>

        <div class="contentArea">

            <div class="divPanel notop page-content">

                <div class="breadcrumbs">
                    <a href="/Views/Home/_Home.cshtml">Trang Chủ</a> &nbsp;/&nbsp; <span>Thông tin cá nhân</span>
                </div>
               
        <!--User profile start here-->
                <div class="row-fluid">
                    <div class="span3">
                       
                       
                        <img src="{{UserInfo.ProfileImage}}" class="img-polaroid img-circle" alt="">


                        <h4 align="center">{{UserInfo.UserName}}</h4>

                        <p align="center" style="margin-bottom: 0px;">300/500</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="color: green !important;width: 60%;background-color: green;">
                                &nbsp;
                            </div>
                        </div>

                        <a href="javascript:register_popup('DuyTN', 'DuyTN');" style="color: #333"><i class="icon-envelope-alt"></i> Nhắn tin</a>
                        &nbsp; &nbsp;<a href="#" style="color: #333"><i class="icon-ban-circle"></i> Báo cáo người dùng</a>
                    </div>

                    <div class="span4 offset1">
                        <div class="row-fluid">
                            <div class="span4">
                                <p>Họ tên</p>
                            </div>
                            <div class="span8">
                                <p>{{UserInfo.FullName}}</p>
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span4">
                                <p>Ngày Sinh</p>
                            </div>
                            <div class="span8">
                                <p>{{UserInfo.DOB}}</p>
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span4">
                                <p>Giới tính</p>
                            </div>
                            <div class="span8">
                                <p>{{UserInfo.Gender}}</p>
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span4">
                                <p>Số điện thoại</p>
                            </div>
                            <div class="span8">
                                <p>{{UserInfo.Phone}}</p>
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span4">
                                <p>Email</p>
                            </div>
                            <div class="span8">
                                <p>{{UserInfo.Email}}</p>
                            </div>
                        </div>


                        <div class="row-fluid">
                            <div class="span4">
                                <p>Địa Chỉ</p>
                            </div>
                            <div class="span8">
                                <p>{{UserInfo.Address}}</p>
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span4">
                                <p>Quốc tịch</p>
                            </div>
                            <div class="span8">
                                <p>{{UserInfo.Country}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="span4 ">
                        <div class="row-fluid">
                            <div class="span4">
                                <p>Số bài Post</p>
                            </div>
                            <div class="span8">
                                <p>{{UserInfo.NumberOfPost}}</p>
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span4">
                                <p>Tổ chức</p>
                            </div>
                            <div class="span8">
                                <p></p>
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span4">
                                <p>Ngày tham gia</p>
                            </div>
                            <div class="span8">
                                <p>{{UserInfo.CreateDate}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span12">
                        <blockquote>
                            <p>Thật dễ dàng để quen với một người xa lạ. Nhưng lại khó khăn biết mấy để xa lạ với một người đã từng thân quen.</p>
                        </blockquote>
                        <h5><a href="#" style="float:left;">Sửa thông tin cá nhân</a></h5>                 
                    </div>
                </div>   

                <div id="footerInnerSeparator"></div>
            </div>
        </div>
        @Html.Partial("../Home/_Footer")
    </div>
    <br /><br /><br />
