<script src="~/Scripts/Chat.js"></script>   


        <div class="divPanel notop nobottom">
  
        </div>

        <div class="contentArea">

            <div class="divPanel notop page-content">

                <div class="breadcrumbs">
                    <a href="/Views/Home/_Home.cshtml">Trang Chủ</a> &nbsp;/&nbsp; <span>Thông tin cá nhân</span>
                </div>
               
        <!--User profile start here-->
                <div class="row-fluid">
                    
                    <div class="span8" id="divMain">

                        <h1>{{UserInfo.UserName}}</h1>
                        <hr>
                        <p>Thật dễ dàng để quen với một người xa lạ. Nhưng lại khó khăn biết mấy để xa lạ với một người đã từng thân quen.</p>

                        <h3>Thông tin cá nhân</h3>
                        <div class="row-fluid">
                            <div class="span4">
                                <p>Họ tên</p>
                            </div>
                            <div class="span8">
                                <p>{{UserInfo.FullName}}</p>
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span4">
                                <p>Ngày Sinh</p>
                            </div>
                            <div class="span8">
                                <p>{{UserInfo.DOB}}</p>
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span4">
                                <p>Giới tính</p>
                            </div>
                            <div class="span8">
                                <p>{{UserInfo.Gender}}</p>
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span4">
                                <p>Địa Chỉ</p>
                            </div>
                            <div class="span8">
                                <p>{{UserInfo.Address}}</p>
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span4">
                                <p>Quốc tịch</p>
                            </div>
                            <div class="span8">
                                <p>{{UserInfo.Country}}</p>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span4">
                                <p>Tổ chức</p>
                            </div>
                            <div class="span8">
                                <a href="#">Những người đẹp trai</a>
                            </div>
                        </div>
                        </br>
                        </br>
                        <div align="center">
                            <a class="btn btn-primary" href="#"><i class="icon-refresh icon-spin"></i> Sửa thông tin cá nhân</a>
                        </div>
                        <hr>

                    </div>

                    <!--End Main Content Area here-->
                    <!--Edit Sidebar Content here-->
                    <div class="span4 sidebar">

                        <div class="sidebox">
                            <div align="center">
                                <img src="{{UserInfo.ProfileImage}}" class="img-polaroid img-circle" style="margin:5px 0px 15px; width:115px; height:115px;" alt="">
                            </div>
                            <div class="organization-content " style="overflow: hidden;">
                                <p class="basic-infor"><i class="fa fa-envelope" aria-hidden="true"></i></i>&nbsp;&nbsp;{{UserInfo.Email}}</p>
                                <p class="basic-infor"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;{{UserInfo.Phone}} </p>

                                <strong>Đã đóng góp:</strong>&nbsp;&nbsp;300.000.000 VNĐ</p>
                                    <strong>Xếp hạng:</strong> 5 trên tổng số người dùng
</div>

                            <ul>
                                <li><a href="#"  onclick="return false;" data-toggle="modal" data-target="#sendMessage" >Gửi tin nhắn</a></li>
                                <li><a href="#">Báo cáo</a></li>
                            </ul>


                            <h4 class="sidebox-title">Thống kê</h4>

                            <h5>Đã tham gia: 40 sự kiện</h5>
                            <h5>Đã tạo: {{UserInfo.NumberOfPost}} bài thảo luận</h5>

                            <h5>Đã đạt được {{UserInfo.Point}} điểm</h5>
                            <div class="progress progress-success">
                                <div class="bar" style="width: 40%"></div>
                            </div>



                        </div>

                    </div>
                    
                </div>
                <div class="modal fade" id="sendMessage" role="dialog" hidden>
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Gửi tin nhắn tới: {{UserInfo.UserName}} </h4>
                            </div>
                            <div class="modal-message" align="center" style="margin-top:50px; margin-bottom:50px;">
                                Bạn đã gửi tin nhắn thành công, hãy kiểm tra tại <a href="#/Message">Message</a>
                            </div>
                            <div class="modal-body">
                                <input type="text" name="title" id="title" class="input-block-level" placeholder="Chủ đề" ng-model="titleMessage" />
                                <textarea rows="11" name="message" id="message" class="input-block-level" placeholder="Nội dung" ng-model="content"></textarea>
                            </div>
                            <div class="modal-footer">
                                <div class="sendMessage">
                                    <button type="button" ng-click="sendMessage(titleMessage, content)" class="btn btn-info pull-right">Gửi tin nhắn</button>
                                </div>
                                <div class="closeForm">
                                    <button type="button" class="btn btn-info pull-right" data-dismiss="modal">Đóng</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--End Sidebar Content here-->
                <div id="footerInnerSeparator"></div>
            </div>
        </div>
        @Html.Partial("../Home/_Footer")
    <script>
        $(".modal-message").hide();
        $(".closeForm").hide();
    </script>
    <br /><br /><br />
