<link href="~/Content/css/userProfile.css" rel="stylesheet" type="text/css"/>

<div class="contentAre">

    <div class="divPanel notop page-content">
        <div class="breadcrumbs">
            <a href="/#/Home">Trang chủ</a> &nbsp;/&nbsp;<a href="#"></a> Thông tin cá nhân
        </div>
    </div>

<div class="row">
<div class="col-lg-12" style="padding-left: 53px;">

<div class="portlet portlet-default">
<div class="portlet-body">
<ul id="userTab" class="nav nav-tabs">
    <li class="active"><a href="#overview" onclick=" return false; " data-toggle="tab">Hồ sơ</a></li>
    <li><a href="#backed" onclick=" return false; " data-toggle="tab">Sự kiện đã quyên góp</a></li>
    <li><a href="#created" onclick=" return false; " data-toggle="tab">Bài viết đã tạo</a></li>
</ul>
<div id="userTabContent" class="tab-content">
<div class="tab-pane fade in active" id="overview">
    <div class="row">
        <div class="col-lg-3">
            <img class="img-responsive img-profile" style="width: 227px; height: 227px;" src="{{UserInfo.ProfileImage}}" alt="">
            <div class="list-group">
                <a href="#" class="list-group-item active" style="text-align: center;">Tổng quan</a>
                <a href="#" class="list-group-item" style="padding-left: 10px;">Số sự kiện đã quyên góp<span class="badge green">{{UserInfo.NumberEventDonatedIn}}</span></a>
                <a href="#" class="list-group-item" style="padding-left: 10px;">Số bài viết đã tạo<span class="badge purple">{{UserInfo.NumberOfPost}}</span></a>
                <a href="#" class="list-group-item" style="padding-left: 10px;">Tổng số điểm<span class="badge orange">{{UserInfo.Point}}</span></a>
                <a href="#" class="list-group-item" style="padding-left: 10px;">Xếp hạng<span class="badge red">{{UserInfo.CurrentRank}}</span></a>
                <a href="#" class="list-group-item" style="padding-left: 10px;">Trạng thái<span class="badge blue">{{UserInfo.IsActive}}</span></a>
            </div>
        </div>
        <div class="col-lg-9">
            <div id="userSettingsContent" class="tab-content">
                <div class="tab-pane fade in active" id="basicInformation">
                    <form role="form">
                        <div class="col-lg-6">
                            <h4 class="page-header" style="margin-bottom: 39px;">Thông tin cá nhân:</h4>
                            <div class="form-group">
                                <label>Tên đầy đủ</label>
                                <input type="text" class="form-control" ng-model="FullName" disabled>
                            </div>
                            <div class="form-group">
                                <label>Số điện thoại</label>
                                <input type="tel" class="form-control" ng-model="Phone"  disabled>
                            </div>
                            <div class="form-group">
                                <label>Địa chỉ</label>
                                <input type="text" class="form-control" ng-model="Address"  disabled>
                            </div>
                            <div class="form-group">
                                <label>Quốc gia</label>
                                <input type="text" class="form-control" ng-model="Country"  disabled>
                            </div>
                            <div class="form-group">
                                <label>Giới tính</label>
                                <input type="text" class="form-control" ng-model="Gender" disabled>
                            </div>
                            <div class="form-group">
                                <label>Ngày sinh</label> 
                                <input type="date"  class="form-control" id="datePicker"  value="{{DOB}}"  disabled/>
                            </div>
                        </div>
                        <div class="col-lg-3" style="width: 300px; margin-left: 90px;">
                            <h4 class="page-header" style="margin-bottom: 39px;">Thông tin liên lạc:</h4>
                            <div class="form-group">
                                <label>Địa chỉ Email</label>
                                <input type="text"  value="{{UserInfo.Email}}" disabled>
                            </div>
                            <div class="form-group">
                                <label>Đường dẫn Facebook</label>
                                <input type="text" class="form-control" ng-model="FacebookUri" disabled>
                            </div>
                            <h4 class="page-header">Thông tin thêm:</h4>
                            <div class="form-group" style="margin-top: -22px;">
                                <label>Tổ chức</label>
                                <input type="text" value="{{UserInfo.OrganazationName}}" disabled>
                            </div>
                            <div class="form-group">
                                <label>Ngày tham gia</label>
                                <input type="text" value="{{UserInfo.JoinedDate}}" disabled>
                            </div>
                            <div class="form-group">
                                <label>Chữ kí</label>
                                <input type="text" class="form-control" ng-model="UserSignature" disabled>
                            </div>
                            
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="buttonHover">
        <a class="btn " href="#" onclick=" return false;" data-toggle="modal" data-target="#sendMessage" ng-if="UserInfo.UserName!=User_Information.UserName"><i class="icon-inbox"></i> Nhắn tin</a>
        <a class="btn " href="#" style="margin-left: 31px;" ng-if="UserInfo.UserName!=User_Information.UserName"><i class="fa fa-flag-o" aria-hidden="true" ></i> Báo cáo</a>
        <a class="btn " id="updateUser" ng-click="enableButton()" href="#" onclick="return false;" ng-if="UserInfo.UserName==User_Information.UserName"><i class="icon-edit"></i> Sửa thông tin</a>
        <a class="btn" id="saveUser" style="visibility: hidden;" ng-click="saveUser()" href="#" onclick="return false;" ><i class="fa fa-floppy-o"></i> Lưu</a>
    </div>
</div>

<!-- Tab Event donated -->
<div class="tab-pane fade" id="backed">
    <div class="row">

        <div class="portlet portlet-default" style="margin-left: 30px;">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Sự kiện đã quyên góp</h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table datatable="ng" id="example-table" class="table table-striped table-bordered table-hover table-green">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th style="width: 320px;">Tên sự kiện</th>
                            <th>Thể loại</th>
                            <th>Số tiền quyên góp</th>
                            <th>Ngày quyên góp</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd gradeX" ng-repeat="item in currentUserDonation track by $index">
                            <td>{{$index+1}}</td>
                            <td>{{item.EventBasicInformation.EventName}}</td>
                            <td>{{item.EventBasicInformation.EventType}}</td>
                            <td>{{item.DonatedMoney}}</td>
                            <td>{{item.DonatedDate}}</td>
                        </tr>
                     
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.portlet-body -->
        </div>
        <!-- /.portlet -->

    </div>
</div>
<!-- End tab backed projects -->
<!-- Tab created thread -->
<div class="tab-pane fade" id="created" style="margin-left: 30px;">
    <div class="row">
        <div class="portlet portlet-default">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Bài viết đã tạo</h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table id="example-table-2" class="table table-striped table-bordered table-hover table-green">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên bài viết</th>
                            <th>Ngày tạo</th>
                            <th>Trạng thái</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Test</td>
                            <td>01-12-2016 08:00</td>
                            <td>
                                <button class="btn btn-primary">Active</button>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Test</td>
                            <td>01-12-2016 08:00</td>
                            <td>
                                <button class="btn btn-primary">Active</button>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Test</td>
                            <td>01-12-2016 08:00</td>
                            <td>
                                <button class="btn btn-primary">Active</button>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Test</td>
                            <td>01-12-2016 08:00</td>
                            <td>
                                <button class="btn btn-primary">Active</button>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Test</td>
                            <td>01-12-2016 08:00</td>
                            <td>
                                <button class="btn btn-primary">Active</button>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Test</td>
                            <td>01-12-2016 08:00</td>
                            <td>
                                <button class="btn btn-primary">Active</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.portlet-body -->
        </div>
        <!-- /.portlet -->
    </div>
</div>
<!-- End tab created project -->

</div>
</div>
<!-- /.portlet-body -->
</div>
<!-- /.portlet -->


</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
    <div class="modal fade" id="sendMessage" role="dialog" hidden>
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Gửi tin nhắn tới: {{UserInfo.UserName}} </h4>
                </div>
                <div class="modal-message" align="center" style="margin-top:50px; margin-bottom:50px;">
                    Bạn đã gửi tin nhắn thành công, hãy kiểm tra tại <a href="#/Message">Message</a>
                </div>
                <div class="modal-body">
                    <input type="text" name="title" id="title" class="input-block-level" placeholder="Chủ đề" ng-model="titleMessage" />
                    <textarea rows="11" name="message" id="message" class="input-block-level" placeholder="Nội dung" ng-model="content"></textarea>
                </div>
                <div class="modal-footer">
                    <div class="sendMessage">
                        <button type="button" ng-click="sendMessage(titleMessage, content)" class="btn btn-info pull-right">Gửi tin nhắn</button>
                    </div>
                    <div class="closeForm">
                        <button type="button" class="btn btn-info pull-right" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


        @Html.Partial("../Home/_Footer")
<script>
    $(".modal-message").hide();
    $(".closeForm").hide();

</script>

<script src="~/Scripts/Chat.js"></script>   
<!-- PAGE LEVEL PLUGIN SCRIPTS -->



    <br /><br /><br />
