<body>
@Html.Partial("../Admin/_TopSideNavigation")
<div id="page-wrapper">

<div class="page-content">

<!-- begin PAGE TITLE ROW -->
<div class="row">
    <div class="col-lg-12">
        <div class="page-title">
            <h1>
                Tổ chức
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="/Admin/#/DashBoard">Thống kê</a>
                </li>
                <li>
                    <a href="#" onclick="return false">Tổ chức</a>
                </li>
                <li class="active">Thống kê tổ chức</li>
            </ol>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- end PAGE TITLE ROW -->
<!-- Start DASHBOARD CIRCLE TILES -->
@Html.Partial("../Admin/OrganizationManage/_OrganizationCircleTiles")
<!-- end DASHBOARD CIRCLE TILES -->
<!-- begin ADVANCED TABLES ROW -->
    <div class="row">
        <!-- popular Event -->
        <div class="col-lg-12">
            <div class="portlet portlet-purple">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4><i class="fa fa-exchange fa-fw"></i> Xếp hạng tổ chức</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet4" onclick=" return false"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="transactionsPortlet4" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="table-responsive dashboard-demo-table">
                            <table datatable="ng" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Tên tổ chức</th>
                                        <th>Điểm số</th>
                                        <th>Xếp hạng</th>
                                        <th>Trạng thái</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in RankingOrg">
                                        <td class="nameAdmin">
                                            <a class="pull-left" href="@Url.Content("/Admin/#/OrganizationDetail/{{item.OrganizationId}}")">
                                                <img style="width: 40px; height: 40px;" class="media-object img-circle" src="{{item.LogoUrl}}" alt="">
                                            </a>
                                            <h4>{{item.OrganizationName}}</h4>
                                        </td>
                                        <td>{{item.Point}}</td>
                                        <td>{{item.CurrentRank}}</td>
                                        <td ng-switch="item.IsVerify">
                                            <div ng-switch-when="false">
                                                <a class="btn btn-xs btn-warning">Chưa kích hoạt</a>
                                            </div>
                                            <div ng-switch-when="true" ng-switch="item.IsActive">
                                                <a class="btn btn-xs btn-green" ng-switch-when="true">Đang hoạt động</a>
                                                <a class="btn btn-xs btn-danger" ng-switch-when="false">Bị cấm</a>
                                            </div>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end popular Event -->
<!-- newest event-->
<div class="col-lg-12">
    <div class="portlet portlet-purple">
        <div class="portlet-heading">
            <div class="portlet-title">
                <h4><i class="fa fa-exchange fa-fw"></i> Tổ chức mới nhất</h4>
            </div>
            <div class="portlet-widgets">
                <a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet3" onclick="return false"><i class="fa fa-chevron-down"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="transactionsPortlet3" class="panel-collapse collapse in">
            <div class="portlet-body">
                <div class="table-responsive dashboard-demo-table">
                    <table datatable="ng" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Tên tổ chức</th>
                                <th>Người đăng ký</th>
                                <th>Ngày đăng ký</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in newCreatedOrg">
                                <td class="nameAdmin">
                                    <a class="pull-left" href="@Url.Content("/Admin/#/OrganizationDetail/{{item.OrganizationId}}")">
                                        <img style="width: 40px; height: 40px;" class="media-object img-circle" src="{{item.LogoUrl}}" alt="">

                                    </a>
                                    <h4>&nbsp;{{item.OrganizationName}}</h4>
                                </td>
                                <td>{{item.Creator.UserName}}</td>
                                <td>{{item.CreatedDate}}</td>
                                <td ng-switch="item.IsVerify">
                                    <div ng-switch-when="false">
                                        <a class="btn btn-xs btn-warning">Chờ duyệt</a>
                                    </div>
                                    <div ng-switch-when="true" ng-switch="item.IsActive">
                                        <a class="btn btn-xs btn-green" ng-switch-when="true">Đang hoạt động</a>
                                        <a class="btn btn-xs btn-danger" ng-switch-when="false">Bị cấm</a>
                                    </div>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



</div>

<!-- /.page-content -->

</div>

</div>
<!-- HISRC Retina Images -->
<script src="~/Content/Admin/js/plugins/hisrc/hisrc.js"></script>
<!-- THEME SCRIPTS -->
<script src="~/Content/Admin/js/flex.js"></script>

</body>