    <body>
    @Html.Partial("../Admin/_TopSideNavigation")
   <!-- begin MAIN PAGE CONTENT -->
    <div id="page-wrapper">
    
        <div class="page-content">

            <!-- begin PAGE TITLE ROW -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title">
                        <h1>
                            Chi tiết về tổ chức
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i> <a href="index-2.html">Thống kê</a>
                            </li>
                            <li class="active"><a href="new-project.html">Tổ chức</a></li>
                            <li class="active">Chi tiết về tổ chức</li>
                        </ol>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <!-- end PAGE TITLE ROW -->
            <!-- content -->
            <div class="row">
                <div class="col-lg-12">

                    <div class="portlet portlet-default">
                        <div class="portlet-body">
                            <!--OR content -->
                            <div class="row">
                                <h3 style="text-transform: uppercase; text-align: center;">{{currentOrg.OrganizationName}}</h3>
                                <hr>
                                <!--Edit Main Content Area here-->
                                <div class="col-lg-8" id="divMain">
                                    <h3>Giới thiệu</h3>

                                    <p ng-bind-html="currentOrg.Introduction"><p>

                                        <h3>Các sự kiện đã tổ chức</h3>

                                        <div class="row" ng-repeat="item in eventsOfOrganization | limitTo: paginationLimit()">
                                            <div class="col-lg-2">
                                                <a href="@Url.Content("/Admin/#/EventDetail/{{item.EventID}}")">
                                                    <img src="{{item.MainImageUrl}}" class="img-polaroid" alt="" style="width: 110px;height: 120px; margin-bottom: 20px; ">
                                                </a>
                                            </div>
                                            <div class="col-lg-10 orContent">
                                                <h4>{{item.EventName}}</h4>
                                                <p>{{item.ShortDescription}}</p>
                                            <p>
                                                <span style="width: 48px;"><i class="fa fa-thumbs-o-up" aria-hidden="true" title="Số lượt thích"></i>&nbsp;{{item.Likes}}</span>
                                                <span style="margin-left: 30px; width: 50px;"><i class="fa fa-comment-o" aria-hidden="true" title="Số bình luận"></i>&nbsp;{{item.NumberOfComments}}</span>
                                                <span style="margin-left: 30px; width: 52px;"><img src="~/Content/Images/users-icon.png" style="width: 16px; height: 16px; margin-bottom: 6px;" title="Số người tham gia ủng hộ" />&nbsp;{{item.DonatedUser}}</span>
                                                <span style="margin-left: 377px;"><a href="@Url.Content("/#/EventDetail/{{item.EventID}}")">Xem thêm &raquo;</a></span>
                                            </p>
                                        </div>
                                        <hr>
                                    </div>

                                    

                                    

                                </div>

                                <!--End Main Content Area here-->
                                <!--Edit Sidebar Content here-->
                                <div class="col-lg-4 sidebar">

                                    <div class="sidebox">
                                        <div align="center">
                                            <img src="{{currentOrg.LogoUrl}}" class="img-polaroid img-circle" style="margin: 5px 0px 15px; width: 150px; height: 150px;" alt="">
                                        </div>
                                        <div class="organization-content " style="overflow: hidden;">
                                            <p class="basic-infor"><i class="fa fa-phone icon" aria-hidden="true"></i>&nbsp;&nbsp;{{currentOrg.Phone}}
                                            </p>
                                            <p class="basic-infor"><i class="fa fa-envelope icon" aria-hidden="true"></i>&nbsp;&nbsp;{{currentOrg.Email}}
                                            </p>
                                            <p class="basic-infor"><i class="fa fa-home icon" aria-hidden="true"></i>&nbsp;&nbsp;{{currentOrg.Address}}
                                            </p>
                                            <p><strong>Số sự kiện đã tạo:</strong>&nbsp;{{currentOrg.Address}}
                                            </p>
                                            <p><strong>Điểm số:</strong>&nbsp;{{currentOrg.Point}}
                                            </p>
                                            <p><strong>Xếp hạng:</strong>&nbsp;{{currentOrg.CurrentRank}}
                                            </p>
                                            <p ng-if="!currentOrg.IsVerify">
                                                <strong>Trạng thái:</strong>&nbsp;Chờ duyệt
                                            </p>
                                            <p ng-if="!currentOrg.IsActive && currentOrg.IsVerify">
                                                <strong>Trạng thái:</strong>&nbsp;Bị cấm
                                            </p>
                                            <p ng-if="currentOrg.IsActive && currentOrg.IsVerify">
                                                <strong>Trạng thái:</strong>&nbsp;Đang hoạt động
                                            </p>
                                        </div>



                                    </div>

                                </div>
                                <!--End Sidebar Content here-->
                            </div>
                            <!-- end OR content -->
                            <div style="margin-left: 260px;">
                                <a class="btn btn-primary" href="#" onclick="return false;" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()"><i class="icon-refresh icon-spin"></i>&nbsp;Xem thêm các sự kiện</a>
                            </div>
                        </div>
                        <!-- /.portlet-body -->
                    </div>
                    <!-- /.portlet -->


                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.content -->

        </div>
        <!-- /.page-content -->

    </div>
    <!-- /#page-wrapper -->
<!-- end MAIN PAGE CONTENT -->
    <!-- HISRC Retina Images -->
    <script src="~/Content/Admin/js/plugins/hisrc/hisrc.js"></script>

    <!-- THEME SCRIPTS -->
    <script src="~/Content/Admin/js/flex.js"></script>
</body>
