<body>
    @Html.Partial("../Admin/_TopSideNavigation")
<!-- begin MAIN PAGE CONTENT -->
<div id="page-wrapper">
<div class="page-content">
<!-- begin PAGE TITLE ROW -->
<div class="row">
    <div class="col-lg-12">
        <div class="page-title">
            <h1>
                Bài viết
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="index-2.html">Thống kê</a>
                </li>
                <li class="active">Danh sách bài viết</li>
            </ol>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- end PAGE TITLE ROW -->
    @Html.Partial("../Admin/ThreadManage/_ThreadCircleTitle")
<!-- begin ADVANCED TABLES ROW -->
<div class="row">
    <div class="col-lg-12">
        <div class="portlet portlet-default">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Danh sách bài viết</h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table id="example-table" class="table table-striped table-bordered table-hover table-green">
                        <thead>
                        <tr>
                            <th style="width: 40px;">STT</th>
                            <th style="width: 350px;">Tên bài viết</th>
                            <th style="width: 220px;">Người tạo</th>
                            <th style="width: 220px;">Ngày tạo </th>
                            <th>Trạng thái</th>
                            <th>Hành động</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd gradeX">
                            <td>1</td>
                            <td>Test</td>
                            <td>Đỗ Văn Tuấn</td>
                            <td>12/10/2016</td>
                            <td>
                                <button class="btn btn-success">Đang thảo luận</button>
                                <!-- <button class="btn btn-green">Active</button> -->
                            </td>
                            <td>
                                <a href="thread-detail.html"><button class="btn btn-blue">Xem chi tiết</button></a>
                            </td>
                        </tr>
                        <tr class="even gradeC">
                            <td>2</td>
                            <td>Test</td>
                            <td>Đỗ Văn Tuấn</td>
                            <td>12/10/2016</td>
                            <td>
                                <!-- <button class="btn btn-default">Inactive</button> -->
                                <button class="btn btn-danger">Bị cấm</button>
                            </td>
                            <td>
                                <a href="userprofile.html"><button class="btn btn-blue">Xem chi tiết</button></a>
                            </td>
                        </tr>
                        <tr class="odd gradeA">
                            <td>3</td>
                            <td>Test</td>
                            <td>anhtuan@gmail.com</td>
                            <td>12/10/2016</td>
                            <td>
                                <button class="btn btn-default">Inactive</button>
                                <!-- <button class="btn btn-green">Active</button> -->
                            </td>
                            <td>
                                <a href="userprofile.html"><button class="btn btn-blue">View</button></a>
                            </td>
                        </tr>
                        <tr class="even gradeA">
                            <td>4</td>
                            <td>Test</td>
                            <td>anhtuan@gmail.com</td>
                            <td>12/10/2016</td>
                            <td>
                                <!-- <button class="btn btn-default">Inactive</button> -->
                                <button class="btn btn-green">Active</button>
                            </td>
                            <td>
                                <a href="userprofile.html"><button class="btn btn-blue">View</button></a>
                            </td>
                        </tr>
                        <tr class="odd gradeA">
                            <td>5</td>
                            <td>Test</td>
                            <td>anhtuan@gmail.com</td>
                            <td>12/10/2016</td>
                            <td>
                                <button class="btn btn-default">Inactive</button>
                                <!-- <button class="btn btn-green">Active</button> -->
                            </td>
                            <td>
                                <a href="userprofile.html"><button class="btn btn-blue">View</button></a>
                            </td>
                        </tr>
                        <tr class="even gradeA">
                            <td>6</td>
                            <td>Test</td>
                            <td>anhtuan@gmail.com</td>
                            <td>12/10/2016</td>
                            <td>
                                <!-- <button class="btn btn-default">Inactive</button> -->
                                <button class="btn btn-green">Active</button>
                            </td>
                            <td>
                                <a href="userprofile.html"><button class="btn btn-blue">View</button></a>
                            </td>
                        </tr>
                        <tr class="gradeA">
                            <td>7</td>
                            <td>Test</td>
                            <td>anhtuan@gmail.com</td>
                            <td>12/10/2016</td>
                            <td>
                                <!-- <button class="btn btn-default">Inactive</button> -->
                                <button class="btn btn-green">Active</button>
                            </td>
                            <td>
                                <a href="userprofile.html"><button class="btn btn-blue">View</button></a>
                            </td>
                        </tr>
                        <tr class="gradeA">
                            <td>8</td>
                            <td>Test</td>
                            <td>anhtuan@gmail.com</td>
                            <td>12/10/2016</td>
                            <td>
                                <!-- <button class="btn btn-default">Inactive</button> -->
                                <button class="btn btn-green">Active</button>
                            </td>
                            <td>
                                <a href="userprofile.html"><button class="btn btn-blue">View</button></a>
                            </td>
                        </tr>
                        <tr class="gradeA">
                            <td>9</td>
                            <td>Test</td>
                            <td>anhtuan@gmail.com</td>
                            <td>12/10/2016</td>
                            <td>
                                <!-- <button class="btn btn-default">Inactive</button> -->
                                <button class="btn btn-green">Active</button>
                            </td>
                            <td>
                                <a href="userprofile.html"><button class="btn btn-blue">View</button></a>
                            </td>
                        </tr>
                        <tr class="gradeA">
                            <td>10</td>
                            <td>Test</td>
                            <td>anhtuan@gmail.com</td>
                            <td>12/10/2016</td>
                            <td>
                                <!-- <button class="btn btn-default">Inactive</button> -->
                                <button class="btn btn-green">Active</button>
                            </td>
                            <td>
                                <a href="userprofile.html"><button class="btn btn-blue">View</button></a>
                            </td>
                        </tr>
                        <tr class="gradeA">
                            <td>11</td>
                            <td>Test</td>
                            <td>anhtuan@gmail.com</td>
                            <td>12/10/2016</td>
                            <td>
                                <!-- <button class="btn btn-default">Inactive</button> -->
                                <button class="btn btn-green">Active</button>
                            </td>
                            <td>
                                <a href="userprofile.html"><button class="btn btn-blue">View</button></a>
                            </td>
                        </tr>
                        <tr class="gradeA">
                            <td>12</td>
                            <td>baba</td>
                            <td>heodat@gmail.com</td>
                            <td>12/10/2016</td>
                            <td>
                                <!-- <button class="btn btn-default">Inactive</button> -->
                                <button class="btn btn-green">Active</button>
                            </td>
                            <td>
                                <a href="userprofile.html"><button class="btn btn-blue">View</button></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.portlet-body -->
        </div>
        <!-- /.portlet -->
    </div>
    <!-- /.col-lg-12 -->
</div>
</div>
</div>
<!-- /.page-content -->
<!-- /#page-wrapper -->
<!-- end MAIN PAGE CONTENT -->
    <!-- GLOBAL SCRIPTS -->
    <script src="~/Content/Admin/js/jquery.min.js"></script>
    <script src="~/Content/Admin/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/Admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/Admin/js/plugins/popupoverlay/jquery.popupoverlay.js"></script>
    <script src="~/Content/Admin/js/plugins/popupoverlay/defaults.js"></script>
    <!-- HISRC Retina Images -->
    <script src="~/Content/Admin/js/plugins/hisrc/hisrc.js"></script>

    <!-- PAGE LEVEL PLUGIN SCRIPTS -->
    <script src="~/Content/Admin/js/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/Admin/js/plugins/datatables/datatables-bs3.js"></script>
    <script src="~/Content/Admin/js/demo/advanced-tables-demo.js"></script>


    <!-- THEME SCRIPTS -->
    <script src="~/Content/Admin/js/flex.js"></script>
</body> 