<body>
    @Html.Partial("../Admin/_TopSideNavigation")
<!-- begin MAIN PAGE CONTENT -->
<div id="page-wrapper">
<div class="page-content">
<!-- begin PAGE TITLE ROW -->
<div class="row">
    <div class="col-lg-12">
        <div class="page-title">
            <h1>
                Bài viết
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="index-2.html">Bài viết</a>
                </li>
                <li class="active">Thống kê bài viết</li>
            </ol>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- end PAGE TITLE ROW -->
    @Html.Partial("../Admin/ThreadManage/_ThreadCircleTitle")
<!-- begin ADVANCED TABLES ROW -->
<div class="row">
<!-- newest event-->
<div class="col-lg-12">
    <div class="portlet portlet-purple">
        <div class="portlet-heading">
            <div class="portlet-title">
                <h4><i class="fa fa-exchange fa-fw"></i> Bài viết mới nhất</h4>
            </div>
            <div class="portlet-widgets">
                <a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet3" onclick="return false"><i class="fa fa-chevron-down"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="transactionsPortlet3" class="panel-collapse collapse in">
            <div class="portlet-body">
                <div class="table-responsive dashboard-demo-table">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th style="width: 25px;">STT</th>
                            <th>Tên bài viết</th>
                            <th style="width:120px">Người tạo</th>
                            <th style="width:128px">Ngày tạo</th>
                            <th>Trạng thái</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in newCreatedThread">
                            <td>{{ $index + 1 }}</td>
                            <td class="nameAdmin">
                                <a class="pull-left" href="@Url.Content("/Admin/#/ThreadDetail/{{item.ThreadID}}")">
                                    <p> {{item.ThreadName}}</p>
                                </a>
                            </td>
                            <td>{{item.Creator}}</td>
                            <td>{{item.CreatedDate}}</td>
                            <td>
                                <button class="btn btn-green" style="width: 125px" ng-if="item.Status">Đang thảo luận</button>
                                <button class="btn btn-danger" style="width: 125px" ng-if="!item.Status">Bị cấm</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- popular Thread -->
<div class="col-lg-12">
    <div class="portlet portlet-purple">
        <div class="portlet-heading">
            <div class="portlet-title">
                <h4><i class="fa fa-exchange fa-fw"></i> Bài viết được quan tâm nhiều nhất</h4>
            </div>
            <div class="portlet-widgets">
                <a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet4" onclick="return false"><i class="fa fa-chevron-down"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="transactionsPortlet4" class="panel-collapse collapse in">
            <div class="portlet-body">
                <div class="table-responsive dashboard-demo-table">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên bài viết</th>
                                <th style="width:120px">Người tạo</th>
                                <th style="width:128px">Số lượt thích</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in topLikeThread">
                                <td>{{ $index + 1 }}</td>
                                <td><a href="@Url.Content("/Admin/#/ThreadDetail/{{item.ThreadID}}")"><strong>{{item.ThreadName}}</strong></a></td>
                                <td>{{item.Creator}}</td>
                                <td style="text-align: center;">{{item.Likes}}</td>
                                <td>
                                    <button class="btn btn-green" style="width: 125px" ng-if="item.Status">Đang thảo luận</button>
                                    <button class="btn btn-danger" style="width: 125px" ng-if="!item.Status">Bị cấm</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end popular Thread -->
</div>

<!-- /.page-content -->
</div>
<!-- /#page-wrapper -->
<!-- end MAIN PAGE CONTENT -->
</div>
<!-- /#wrapper -->
    <!-- HISRC Retina Images -->
    <script src="~/Content/Admin/js/plugins/hisrc/hisrc.js"></script>
    <!-- THEME SCRIPTS -->
    <script src="~/Content/Admin/js/flex.js"></script>
</body>
