<div class="row centered">
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <a href="event-list.html">
                <div class="circle-tile-heading blue">
                    <i class="fa fa-star fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content blue">
                <div class="circle-tile-description text-faded">
                    Vừa tạo
                </div>
                <div class="circle-tile-number text-faded">
                    10
                    <span id="sparklineB"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <a href="event-list.html">
                <div class="circle-tile-heading red">
                    <i class="fa fa-ban fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content red">
                <div class="circle-tile-description text-faded">
                    Bị cấm
                </div>
                <div class="circle-tile-number text-faded">
                    10
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <a href="event-list.html">
                <div class="circle-tile-heading orange">
                    <i class="fa fa-pencil fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content orange">
                <div class="circle-tile-description text-faded">
                    Số bài viết
                </div>
                <div class="circle-tile-number text-faded">
                    241
                    <span id="sparklineB"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end DASHBOARD CIRCLE TILES -->
