<script src="~/Content/scripts/lightbox/dist/js/lightbox-plus-jquery.min.js" type="text/javascript"></script>
<body>
@Html.Partial("../Admin/_TopSideNavigation")
<!-- begin MAIN PAGE CONTENT -->
<div id="page-wrapper" style="min-height: 700px;">
    <div class="page-content">
        <!-- begin PAGE TITLE ROW -->
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">
                    <h1>
                        Chi tiết bài viết
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i> <a href="index-2.html">Thống kê</a>
                        </li>
                        <li class="active"><a href="new-project.html">Bài viết</a></li>
                        <li class="active">Chi tiết bài viết</li>
                    </ol>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <!-- end PAGE TITLE ROW -->
        <!-- content -->
        <div class="row">
            <div class="col-lg-12">
                <div class="portlet portlet-default">
                    <div class="portlet-body">
                        <!--thread content -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="content">
                                    <h3 style="text-transform: uppercase;">Cùng tham gia chương trình Áo ấm Hà Giang</h3>
                                    <div class="info">
                                        <span>Tạo bởi:</span> {{currentThread.Creator}}<span class="space"></span>
                                        <span><i class="fa fa-calendar" aria-hidden="true"></i> {{currentThread.CreatedDate}}</span>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="contentThread">
                                        <p>{{currentThread.Content}}</p>
                                    </div>
                                    <div class="row-fluid">
                                        <div>
                                            <a ng-repeat="item in currentThread.ImageUrl track by $index" class="example-image-link" href="{{item}}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
                                                <img style="height: 125px;" class="example-image" src="{{item}}" alt=""/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="info" style="font-size: 17px">
                                    <i class="fa fa-thumbs-up" aria-hidden="true" title="Số lượt thích"> Số lượt thích:</i> {{currentThread.Likes}}
                                    <i class="fa fa-comment-o" aria-hidden="true" title="Số bình luận" style="padding-left: 20px"> Số bình luận:</i> {{currentThread.Comments}}
                                </div>
                            </div>
                            <!-- /.col-lg-12 -->
                        </div>
                        <!-- end thread content -->
                        <!-- end tab overview -->
                    </div>
                    <!-- /.portlet-body -->
                </div>
                <!-- /.portlet -->

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.content -->

    </div>
    <!-- /.page-content -->
</div>
<!-- /#page-wrapper -->
<!-- end MAIN PAGE CONTENT -->
<!-- GLOBAL SCRIPTS -->

<script src="~/Content/Admin/js/jquery.min.js"></script>
<script src="~/Content/Admin/js/plugins/bootstrap/bootstrap.min.js"></script>
<script src="~/Content/Admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/Content/Admin/js/plugins/popupoverlay/jquery.popupoverlay.js"></script>
<script src="~/Content/Admin/js/plugins/popupoverlay/defaults.js"></script>
<!-- HISRC Retina Images -->
<script src="~/Content/Admin/js/plugins/hisrc/hisrc.js"></script>

<!-- THEME SCRIPTS -->
<script src="~/Content/Admin/js/flex.js"></script>

</body>