<div class="contentArea">
    <div class="divPanel notop page-content">

        <div class="breadcrumbs">
            <a href="/#/Home">Trang chủ</a> &nbsp;/&nbsp; <span>Về chúng tôi</span>
        </div>

    <div class="row-fluid">
        <!--Edit Main Content Area here-->
        <div class="span8" id="divMain">

            <h1>Về chúng tôi</h1>
            <hr>
            <h4 class="sidebox-title">Sứ mệnh của chúng tôi</h4>
            <p>Giúp đỡ những hoàn cảnh khó khăn và mang niềm vui và hạnh phúc đến cho mọi người.</p>
            <h4 class="sidebox-title">Tầm nhìn</h4>
            <p> Trở thành diễn đàn từ thiện uy tiến nhất Việt Nam ,là nơi kết nối những nhà hảo tâm, không phân biệt vùng miền, tôn giáo cùng chung tay góp sức giúp đỡ những hoàn cảnh khó khăn tại Việt Nam</p>
            <p>
                Với những thông tin về các tổ chức từ thiện của người Việt trên toàn quốc và người bất hạnh ở Việt Nam: trẻ em và người khuyết tật, tàn tật, mồ côi, học sinh nghèo hiếu học, nạn nhân của chiến tranh và thiên tai ...

                Chúng tôi hi vọng người Việt hảo tâm ở khắp nơi hay những tổ chức từ thiện có thể quan tâm và cứu trợ những người bất hạnh này. Những nơi càng xa xôi, hẽo lánh càng cần sự giúp đở của các vị hảo tâm.

                Những người bất hạnh ở Việt Nam hoặc người khác có thể thay mặt liên lạc trực tiếp với các tổ chức từ thiện, và đăng hoàn cảnh khốn khổ cần trợ giúp.

                Những người Việt nhân ái muốn làm việc thiện nguyện có thể liên lạc, tìm hiểu và tham gia 1 tổ chức từ thiện ở địa phương của mình sau khi tham khảo Thông tin và Danh bạ Từ thiện ở đây.

                Xin trân trọng cảm ơn!

                <h4 class="sidebox-title">Đội ngũ phát triển</h4>
                <br />
                <div class="row-fluid">
                    <div class="span3">
                        <img src="/Content/Upload/nghiadt.jpg" style="height: 160px;" alt="">
                        <div style="margin-top: 5px;text-align: center;">
                            <i class="fa fa-facebook-official" style="font-size: 30px; color: blue"></i>
                            <i class="fa fa-twitter-square" style="font-size:30px;color:#00BFFF"></i>
                        </div>
                    </div>
                    <div class="span9">
                        <div class="span3">
                            <p>Vị trí: </p>
                            <hr style="margin: 10px 0px;"/>
                            <p>Tên:</p>
                            <hr style="margin: 10px 0px;" />
                            <p>Sở thích:</p>
                            <hr style="margin: 10px 0px;" />
                            <p>Quote:</p>
                        </div>
                        <div class="span9">
                            <p>Project Manager</p>
                            <hr style="margin: 10px 0px;" />
                            <p>Đào Trọng Nghĩa</p>
                            <hr style="margin: 10px 0px;" />
                            <p>Manga, JAV...</p>
                            <hr style="margin: 10px 0px;" />
                            <p>Yêu là bề khổ</p>
                        </div>
                     </div>
                </div>
                <hr>
                <div class="row-fluid">
                    <div class="span3">
                        <img src="/Content/Upload/nhienlh.jpg" style="height: 160px;" alt="">
                        <div style="margin-top: 5px;text-align: center;">
                            <i class="fa fa-facebook-official" style="font-size: 30px; color: blue"></i>
                            <i class="fa fa-twitter-square" style="font-size:30px;color:#00BFFF"></i>
                        </div>
                    </div>
                    <div class="span9">
                        <div class="span3">
                            <p>Vị trí: </p>
                            <hr style="margin: 10px 0px;"/>
                            <p>Tên:</p>
                            <hr style="margin: 10px 0px;" />
                            <p>Sở thích:</p>
                            <hr style="margin: 10px 0px;" />
                            <p>Quote:</p>
                        </div>
                        <div class="span9">
                            <p>Developer</p>
                            <hr style="margin: 10px 0px;" />
                            <p>Lê Hồng Nhiên</p>
                            <hr style="margin: 10px 0px;" />
                            <p>Manga, JAV...</p>
                            <hr style="margin: 10px 0px;" />
                            <p>Không cần yêu</p>
                        </div>
                     </div>
                </div>
                <hr>

                <div class="row-fluid">
                    <div class="span3">
                        <img src="/Content/Upload/tuandv01.jpg" style="height: 160px;" alt="">
                        <div style="margin-top: 5px;text-align: center;">
                            <i class="fa fa-facebook-official" style="font-size: 30px; color: blue"></i>
                            <i class="fa fa-twitter-square" style="font-size:30px;color:#00BFFF"></i>
                        </div>
                    </div>
                    <div class="span9">
                        <div class="span3">
                            <p>Vị trí: </p>
                            <hr style="margin: 10px 0px;"/>
                            <p>Tên:</p>
                            <hr style="margin: 10px 0px;" />
                            <p>Sở thích:</p>
                            <hr style="margin: 10px 0px;" />
                            <p>Quote:</p>
                        </div>
                        <div class="span9">
                            <p>Developer</p>
                            <hr style="margin: 10px 0px;" />
                            <p>Đỗ Văn Tuấn</p>
                            <hr style="margin: 10px 0px;" />
                            <p>Manga, Bóng đá,...</p>
                            <hr style="margin: 10px 0px;" />
                            <p>Không gì là không thể</p>
                        </div>
                     </div>
                </div>
            <hr>
                <div class="row-fluid">
                    <div class="span3">
                        <img src="/Content/Upload/duytn.jpg" style="height: 160px;" alt="">
                        <div style="margin-top: 5px;text-align: center;">
                            <i class="fa fa-facebook-official" style="font-size: 30px; color: blue"></i>
                            <i class="fa fa-twitter-square" style="font-size:30px;color:#00BFFF"></i>
                        </div>
                    </div>
                    <div class="span9">
                        <div class="span3">
                            <p>Vị trí: </p>
                            <hr style="margin: 10px 0px;"/>
                            <p>Tên:</p>
                            <hr style="margin: 10px 0px;" />
                            <p>Sở thích:</p>
                            <hr style="margin: 10px 0px;" />
                            <p>Quote:</p>
                        </div>
                        <div class="span9">
                            <p>Document Leader</p>
                            <hr style="margin: 10px 0px;" />
                            <p>Tạ Ngọc Duy</p>
                            <hr style="margin: 10px 0px;" />
                            <p>Manga, JAV...</p>
                            <hr style="margin: 10px 0px;" />
                            <p>Yêu làm gì</p>
                        </div>
                     </div>
                </div>
            <hr>
                    <div class="row-fluid">
                    <div class="span3">
                        <img src="/Content/Upload/tuanha.jpg" style="height: 160px;" alt="">
                        <div style="margin-top: 5px;text-align: center;">
                            <i class="fa fa-facebook-official" style="font-size: 30px; color: blue"></i>
                            <i class="fa fa-twitter-square" style="font-size:30px;color:#00BFFF"></i>
                        </div>
                    </div>
                    <div class="span9">
                        <div class="span3">
                            <p>Vị trí: </p>
                            <hr style="margin: 10px 0px;"/>
                            <p>Tên:</p>
                            <hr style="margin: 10px 0px;" />
                            <p>Sở thích:</p>
                            <hr style="margin: 10px 0px;" />
                            <p>Quote:</p>
                        </div>
                        <div class="span9">
                            <p>Developer</p>
                            <hr style="margin: 10px 0px;" />
                            <p>Hoàng Anh Tuấn</p>
                            <hr style="margin: 10px 0px;" />
                            <p>Manga, JAV...</p>
                            <hr style="margin: 10px 0px;" />
                            <p>Yêu là đau</p>
                        </div>
                     </div>
                </div>
                <hr>
    </div>
        <!--End Main Content Area here-->
        <!--Edit Sidebar Content here-->
        <div class="span4 sidebar" style="margin-top: 34px;">

            <div class="sidebox">

                <div id="divLogo2" style="text-align: center;">
                    <a href="@Url.Content("/#/Home")"><img style="width: 275px;height: 150px;" src="~/Content/images/logo.png"/></a><br/>
                </div><br/><br/>

                <p>
                    <i>"Mỗi người chúng ta hãy biết quan tâm và chia sẻ với những người khó khăn xung quanh bằng những hành động xuất phát từ tâm của mình."</i>
                </p>

                <h4 class="sidebox-title">Our Skills</h4>

                <h5>Web Design ( 80% )</h5>
                <div class="progress progress-info">
                    <div class="bar" style="width: 80%"></div>
                </div>

                <h5>Wordpress ( 80% )</h5>
                <div class="progress progress-success">
                    <div class="bar" style="width: 80%"></div>
                </div>

                <h5>Branding ( 90% )</h5>
                <div class="progress progress-warning">
                    <div class="bar" style="width: 90%"></div>
                </div>

                <h5>SEO Optmization ( 60% )</h5>
                <div class="progress progress-danger">
                    <div class="bar" style="width: 60%"></div>
                </div>
            </div>

        </div>
    </div>
</div>
    <!--End Sidebar Content here-->
    <div id="footerOuterSeparator"></div>
    @Html.Partial("../Home/_Footer")
</div>