
<div id="footerOuterSeparator"></div>

    <div id="divFooter" class="footerArea" style="margin-bottom: -60px;">

        <div class="divPanel">

            <div class="row-fluid">
                <div class="span4" id="footerArea1">

                    <h3>Về chúng tôi</h3>

                    <p>
                        Giúp đỡ những hoàn cảnh khó khăn và mang niềm vui và hạnh phúc đến cho mọi người. Trở thành diễn đàn từ thiện uy tiến nhất Việt Nam ,là nơi kết nối những nhà hảo tâm, không phân biệt vùng miền, tôn giáo cùng chung tay góp sức giúp đỡ những hoàn cảnh khó khăn tại Việt Nam.
                    </p>


                </div>
                <div class="span4" id="footerArea3">

                    <h3>Trang WingS</h3>
                    <p>
                        <span><a href="/#/Home" title="">Trang chủ</a> </span>
                        <span style="margin-left: 67px;"><a href="/#/Event" title="">Sự kiện</a></span>
                        <br />
                    </p>
                    <p>
                        <span><a href="/#/Organization" title="">Tổ chức</a></span>
                        <span style="margin-left: 80px;"><a href="/#/Discussion" title="">Thảo luận</a></span>
                        <br />
                    </p>
                    <p>
                        <span><a href="#" title="">Về chúng tôi</a></span>
                        <span style="margin-left: 54px;"><a href="#" title="">Liên hệ</a></span>
                        <br />
                    </p>
                    <p>
                        <span><a href="/#/Login" title="">Đăng nhập</a></span>
                    </p>

                </div>
                <div class="span4" id="footerArea4">

                    <h3>Liên lạc</h3>

                    <ul id="contact-info" style="margin-left: 0px;">
                        <li>
                            <i class="general foundicon-phone icon"></i>
                            <span class="field">Điện thoại:</span>
                            <br />
                            0978 686 868
                            <br />
                        </li>
                        <li>
                            <i class="general foundicon-mail icon"></i>
                            <span class="field">Địa chỉ Email:</span>
                            <br />
                            WingSFPT@gmail.com
                        </li>
                        <li>
                            <i class="general foundicon-home icon" style="margin-bottom:50px"></i>
                            <span class="field">Địa chỉ:</span>
                            <br />
                            ĐH-FPT, Khu CNC Hòa Lạc, Thạch Hòa, Thạch Thất, Hà Nội
                        </li>
                    </ul>

                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">

                    <p class="social_bookmarks">
                        <a href="https://www.facebook.com/groups/1346647362026441/?__mref=message_bubble" target="_blank"><i class="fa fa-facebook-official"></i> Facebook</a>
                        <a href="https://twitter.com/WingSFPT" target="_blank"><i class="fa fa-twitter-square"></i> Twitter</a>
                        <a href="https://plus.google.com/u/2/113040811362876281814" target="_blank"><i class="fa fa-google-plus-square"></i> Google</a>
                    </p>
                    <p class="copyright">
                        Bản quyền © 2016 WingS. Tất cả các bản quyền.
                    </p>

                </div>
            </div>

        </div>
    </div>
