<div class="row-fluid">
                <div class="span12">
                    <div id="divLogo" class="pull-left">
                        <a href="@Url.Content("/#/Home")" id="divSiteTitle">WingS</a><br />
                        <a href="@Url.Content("/#/Home")" id="divTagLine">Hãy chia sẻ</a>
                    </div>

                    <div id="divMenuRight" class="pull-right">
                        <div class="navbar">
                            <button type="button" class="btn btn-navbar-highlight btn-large btn-primary" data-toggle="collapse" data-target=".nav-collapse">
                                NAVIGATION <span class="icon-chevron-down icon-white"></span>
                            </button>
                            <div class="nav-collapse collapse">
                                <ul class="nav nav-pills ddmenu">
                                    <li class="active"><a href=@Url.Content("/#/Home")>Trang chủ</a></li>
                                    <li><a href="about.html">Sự kiện</a></li>
                                    <li><a href="services.html">Thảo luận</a></li>
                                    <li><a href="portfolio.html">Về chúng tôi</a></li>
                                    <li><a href="contact.php">Liên hệ</a></li>
                                    <li><a href=@Url.Content("/#/Login")> Đăng nhập</a></li>
                                    <!-- <li class="dropdown">
                                    <a href="page.html" class="dropdown-toggle">Tài khoản <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                    <li><a href="full.html">Tin nhắn</a></li>
                                    <li><a href="2-column.html">Thông báo</a></li>
                                    <li><a href="3-column.html">Thông tin tài khoản</a></li>
                                    <li><a href="../documentation/index.html">Đăng xuất</a></li>
                                    </ul> -->
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>