<div class="row-fluid" style="margin-top:0px;">
    <div class="span12">

        <div id="headerSeparator"></div>

        <div class="camera_full_width">
            <div id="camera_wrap">
                <div data-src="Content/Images/Slider/slider1.jpg"><div class="camera_caption fadeFromBottom cap1">Nơi nào có niềm tin, nơi đó có con đường</div></div>
                <div data-src="Content/Images/Slider/slider2.jpg"><div class="camera_caption fadeFromBottom cap2"> Những tấm lòng nhân ái</div></div>
                <div data-src="Content/Images/Slider/slider3.jpg"><div class="camera_caption fadeFromBottom cap1">Vì trẻ em vùng cao</div></div>
            </div>
            <br style="clear:both" /><div style="margin-bottom:40px"></div>
        </div>

        <div id="headerSeparator2"></div>

    </div>
</div>
