<div class="row-fluid" style="margin-top:0px;">
    <div class="span12">

        <div id="headerSeparator"></div>

        <div class="camera_full_width">
            <div id="camera_wrap">
                <div data-src="Content/Images/Slider/slider3.jpg"><div class="camera_caption fadeFromBottom cap1">Nơi nào có niềm tin, nơi đó có con đường</div></div>
                <div data-src="Content/Images/Slider/slider2.jpg"><div class="camera_caption fadeFromBottom cap2">Một tấm lòng nhỏ, vạn niềm vui</div></div>
                <div data-src="Content/Images/Slider/slider1.jpg"><div class="camera_caption fadeFromBottom cap3">Vì trẻ em vùng cao</div></div>
                <div data-src="Content/Images/Slider/slider4.jpg"><div class="camera_caption fadeFromBottom cap4">Hãy chung tay góp sức vì cộng đồng</div></div>
                <div data-src="Content/Images/Slider/slider5.jpg"><div class="camera_caption fadeFromBottom cap5">Một click mang đến cả ngàn nụ cười</div></div>
                <div data-src="Content/Images/Slider/slider6.jpg"><div class="camera_caption fadeFromBottom cap2">Vì một tương lai không nghèo đói</div></div>
            </div>
            <br style="clear:both" /><div style="margin-bottom:40px"></div>
        </div>

        <div id="headerSeparator2"></div>

    </div>
</div>
