<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script src="../../Content/scripts/default.js" type="text/javascript"></script>
<script src="../../Content/scripts/wookmark/js/jquery.wookmark.js" type="text/javascript"></script>
<script type="text/javascript">$(window).load(function () {var options = {autoResize: true,container: $('#gridArea'),offset: 10};var handler = $('#tiles li');handler.wookmark(options);$('#tiles li').each(function () { var imgm = 0; if($(this).find('img').length>0)imgm=parseInt($(this).find('img').not('p img').css('margin-bottom')); var newHeight = $(this).find('img').height() + imgm + $(this).find('div').height() + $(this).find('h4').height() + $(this).find('p').not('blockquote p').height() + $(this).find('iframe').height() + $(this).find('blockquote').height() + 5;if($(this).find('iframe').height()) newHeight = newHeight+15;$(this).css('height', newHeight + 'px');});handler.wookmark(options);handler.wookmark(options);});</script>
<script src="../../Content/scripts/yoxview/yox.js" type="text/javascript"></script>
<script src="../../Content/scripts/yoxview/jquery.yoxview-2.21.js" type="text/javascript"></script>
<script type="text/javascript">$(document).ready(function () {$('.yoxview').yoxview({autoHideInfo:false,renderInfoPin:false,backgroundColor:'#ffffff',backgroundOpacity:0.8,infoBackColor:'#000000',infoBackOpacity:1});$('.yoxview a img').hover(function(){$(this).animate({opacity:0.7},300)},function(){$(this).animate({opacity:1},300)});});</script>

<body id="pageBody">

<div id="divBoxed" class="container">

    <div class="transparent-bg" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; zoom: 1;"></div>

    <div class="divPanel notop nobottom">
        @Html.Partial("../Home/_NavigationBar")
        <div class="row-fluid">
            <div class="span12">
                <div id="contentInnerSeparator"></div>
            </div>
        </div>
    </div>

    <div class="contentArea">

        <div class="divPanel notop page-content">

            <div class="breadcrumbs">
                <a href="Home.html">Trang chủ</a> &nbsp;/&nbsp; <span>Thảo luận</span>
            </div>
            <div class="row-fluid">
                <div class="span3">
                    <div class="box">
                        <i class="icon-edit"></i>
                        <h4 class="title">Tạo thảo luận</h4> 
                    </div>
                </div>
                <div class="span3">
                    <div class="box">
                        <i class="icon-tasks"></i>
                        <h4 class="title">Tạo sự kiện</h4>
                    </div>
                </div>

            </div>

            <hr>
            <!--Edit Portfolio Content Area here-->
            <div class="row">

                <div class="span3" style="width:242px" ng-repeat="item in Thread| limitTo: paginationLimit()">
                    <div class="thread-title">
                        <a href="@Url.Content("/#/ThreadDetail/{{item.ThreadID}}")"><h4 class="text-info">{{item.ThreadName}}</h4></a>
                    </div>
                    <div class="thread-img">
                        <a href="@Url.Content("/#/ThreadDetail/{{item.ThreadID}}")"><img src="{{item.ImageUrl[0]}}" class="img-polaroid" alt="" style="width: 300px; height: 200px; margin: 5px 0px 15px;"></a>
                    </div>
                    <div class="thread-content">
                        <p ng-bind-html="SkipValidation(item.Content)"></p>
                    </div>
                    <div class="thread-footer">
                        <i class="foundicon-thumb-up"></i><span><strong>{{item.Likes}}</strong></span>&nbsp; &nbsp;&nbsp; &nbsp;<i class="foundicon-chat"></i><span><strong>30</strong></span></br>
                        <a href="#">Xem thêm &raquo;</a>
                    </div>
                    <br />  
                    <br />  
                </div>
            </div>
            <!--/End Portfolio Content Area-->
            <br />
            <div align="center">
                <a class="btn btn-primary" href="#" onclick="return false;" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()"><i class="icon-refresh icon-spin"></i> Xem thêm...</a>
            </div>
            <div id="footerInnerSeparator"></div>
            <hr>
            <div class="row-fluid">

                <div class="span4" align="center">
                    <h4 class="text-info">Cá nhân </h4>
                    <img src="Content/Images/services-image.jpg" class="img-polaroid img-circle" style="margin: 5px 0px 15px;" alt="">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/><a href="#">Read More &raquo;</a>
                    </p>
                </div>
                <div class="span4" align="center">
                    <h5 class="text-info">Cá nhân </h5>
                    <img src="Content/Images/services-image.jpg" class="img-polaroid img-circle" style="margin: 5px 0px 15px;" alt="">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/><a href="#">Read More &raquo;</a>
                    </p>
                </div>
                <div class="span4" align="center">
                    <h5 class="text-info">Cá nhân </h5>
                    <img src="Content/Images/services-image.jpg" class="img-polaroid img-circle" style="margin: 5px 0px 15px;" alt="">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/><a href="#">Read More &raquo;</a>
                    </p>
                </div>

            </div>
        </div>

        <div id="footerOuterSeparator"></div>

        @Html.Partial("../Home/_Footer")
        <br/><br/><br/>
    </div>
</div>

</body>
