.pageTitle{

padding-top: 45px;
padding-left: 190px;
margin: 25px;
font-family: "Times New Roman", Times, serif;
background-color: white;	
}

.newEventCreate{
	font-size: 36px; 
	color: #008300;


}


.titleDetail{
	margin-bottom: 20px;
}

.containerEvent{
	padding-top: 10px;
	background-color: #F9F9F9;
	padding-bottom: 50px;
}
.containerCreateEvent{

margin-left: 250px;
margin-right: 250px;
font-family: "Times New Roman", Times, serif;
height: 100%;

}

/* Set black background color, white text and some padding */
    footer {
      background-color: black;
      padding: 15px;
      text-decoration-color: black;
     
    }

/* On small screens, set height to 'auto' for containerCreateEvent and grid */
    @media screen and (max-width: 767px) {
      .containerCreateEvent {
        height: auto;
        padding: 15px;
		
      }
      .row.content {height: auto;}
    }


.inputtext{
padding-left:0;
}
	
.containerCreateEvent.inputtext, input[type="text"] {
border-radius: 5px;
padding: 6px 4px 6px 6px; 
font-size: 16px;
margin-bottom: 20px;
margin-left:0;	


}

.required{
color: red;
}

.startDateTime{
	padding:0px;	
}
.endtDateTime{
	padding:0px;
}

.datetime{
	padding: 0px;
	margin: 0px;
	padding-left: 0px;
}


.uploadImage{
	margin-top: 20px;
	margin-bottom: 20px;
}

.confirmCreate{

	margin: 80px;

}

.btn-success{
 background-color: #008300;
    border: none;
    color: white;
    
}

.modal-dialog{
	width: 450px;
	padding-top: 100px;

}
.modal-content{

	width: 550px;
}

.navbar{

	margin-bottom: 0px;
}