.col-8{
	width: 690px;
	float: left;
}
.col-4{
	width: 375px;
	float: left;
	padding-left: 25px;
}
.col-2{
	width: 180px;
	float: left;
	padding-left: 6px;
}
/*.title {
    display: block;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 700;
    font-size: 19px;
    color: #484849;
    text-transform: uppercase;
    margin: 20px 0;
}*/
.title h3{
    font-size: 23px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
}

.col-4 .urgent-progress .proTitle h3{
    font-size: 23px;
    text-transform: uppercase;
	margin-top: -2px;
    text-align: center;
    margin-bottom: -4px;
}
.info {
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
    font-size: 14px;
	display: inline;
	color: gray;
}
.info a{
    color: #b7b7b7;

}
.nav-tabs {
    margin-top: 15px; 
}
.nav-tabs li a{
    /*color: #38383f;*/
	font-weight: 700;
	
}
/*.nav-tabs .active a{
	background: #e05f03;
	color: rgb(255, 255, 255);
}*/
.space {
	border-right: 1px solid #e5e5e5;
	margin-left: 15px; 
	margin-right: 15px;
}
.contentEvent p{
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: black;
}
#contact p, #timeline p,span{
	font-family: 'Open Sans', 'sans-serif';
	font-size: 14px;
	line-height: 24px;

}
.col-4 .title:after{
	content: '';
    display: block;
    width: 50px;
    height: 1px;
    margin: 15px 0 30px;
    background: #fa6f1c;
}
.asideContentEvent .item {
    border-bottom: 1px solid #ececec;
    padding-bottom: 40px;
    margin-bottom: 22px;
}
.asideContentEvent .col-3 {
    padding-right: 10px;
	width: 25%;
	float: left;
	
}

.asideContentEvent .col-9 .title1 {
    display: block;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 700;
    font-size: 16px;
    text-transform: none;
    color: #414141;
    margin: 0;
    margin-bottom: 8px;
	height: 44px;
    overflow: hidden;
}
.asideContentCatelogy ul li {
    margin-bottom: 22px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.asideContentCatelogy ul a {
    color: #75737f;
}
.asideContentCatelogy ul li a:before {
    display: inline-block;
    vertical-align: top;
    margin: -1px 10px -1px 0;
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: normal;
}
.urgent-progress {
    float: left;
	margin-left: -5px;
    width: 101%;
	border: 1px solid #ddd;
    background-color: #f6f6f6;
	margin-bottom: 20px;
}
.urgent-progress .row > div {
    display: inline-block;
    float: none;
    vertical-align: middle;
    margin-left: -3px;
    padding-left: 18px;
}
.amount{
    float: left;
    font-family: 'Open Sans', 'sans-serif';
    letter-spacing: 0.3px;
    width: 100%;
	padding-top:20px;
	padding-left:10px;
	padding-bottom:20px;
}
.stylish{
	display:block;
	width:100px;
	height:100px;
	border-radius:50px;
	font-size:20px;	
	line-height:100px;
	text-shadow:0 1px 0 #666;
	text-align:center;
	text-decoration:none;
	box-shadow:1px 1px 2px #000;
	background:#ADD8E6;
	opacity:0.95
}
.stylish:hover{
	text-shadow:0 0 1px #666;
	text-decoration:none;
	box-shadow:0 0 4px #222 inset;
	background:#e05f03;
	opacity:1
}
.xcircle a{
	color:#333;
}
.circle a:hover{
	color:#eee;
}
.circle span{
	font-size:16px;
	font-family:'Open Sans', 'sans-serif';
	font-weight: 500;
	margin-top:5px;
}


/* -- Circle Tiles */

.circle-tile {
    margin-bottom: 6px;
    text-align: center;
}

.circle-tile-heading {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto -40px;
    border: 3px solid rgba(255,255,255,0.3);
    border-radius: 100%;
    color: #fff;
    transition: all ease-in-out .3s;
}

.circle-tile-heading .fa {
    line-height: 80px;
}

.circle-tile-content {
    padding-top: 50px;
}

.circle-tile-number {
    padding: 5px 0 15px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}

.circle-tile-description {
    text-transform: uppercase;
}

.circle-tile-footer {
    display: block;
    padding: 5px;
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.1);
    transition: all ease-in-out .3s;
}

.circle-tile-footer:hover {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.2);
}

.circle-tile-heading.dark-blue:hover {
    background-color: #2e4154;
}

.circle-tile-heading.green:hover {
    background-color: #138f77;
}

.circle-tile-heading.orange:hover {
    background-color: #da8c10;
}

.circle-tile-heading.blue:hover {
    background-color: #2473a6;
}

.circle-tile-heading.red:hover {
    background-color: #cf4435;
}

.circle-tile-heading.purple:hover {
    background-color: #7f3d9b;
}
.green {
    background-color: #16a085;
}
.blue {
    background-color: #2980b9;
}
.text-faded {
    color: rgba(255,255,255,0.7);
}
.media-footer {
    margin-left: 150px;
    margin-top: -8px;
    font-size: 13px;
}

