.col-8{
	width: 745px;
	float: left;
}
.col-4{
	width: 290px;
	float: left;
	padding-left: 50px;
}
.title {
    display: block;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 700;
    font-size: 19px;
    color: #333;
    text-transform: uppercase;
    margin: 20px 0;
}
.col-4 h3.asideTitle {
    display: block;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 700;
    font-size: 19px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.info {
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
    font-size: 14px;
    float: left;
	display: inline;
	color: #b7b7b7;
}
.info a{
    color: #b7b7b7;

}
.nav-tabs {
    margin-top: 15px; 
	width:310px;
	background-color: #f6f6f6;
	margin-bottom:38px;	
}
.nav-tabs li a{
    color: #38383f;
	border-right: 1px solid #e5e5e5;
	font-weight: 700;
	
}
.nav-tabs .active a{
	background: #e05f03;
	color: rgb(255, 255, 255);
}
.space {
	border-right: 1px solid #e5e5e5;
	margin-left: 15px; 
	margin-right: 15px;
}
.contentEvent p{
	margin-top: 15px;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
    font-size: 14px;
    color: #333;
    line-height: 24px;
}
#contact p, #timeline p,span{
	font-family: 'Open Sans', 'sans-serif';
	font-size: 14px;
	line-height: 24px;

}
.col-4 h3{
	margin-top: 0px;
	margin-bottom: 25px;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 700;
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
}
.col-4 .title:after{
	content: '';
    display: block;
    width: 50px;
    height: 1px;
    margin: 15px 0 30px;
    background: #fa6f1c;
}
.asideContentEvent .item {
    border-bottom: 1px solid #ececec;
    padding-bottom: 40px;
    margin-bottom: 22px;
}
.asideContentEvent .col-3 {
    padding-right: 10px;
	width: 25%;
	float: left;
	
}

.asideContentEvent .col-9 .title1 {
    display: block;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 700;
    font-size: 16px;
    text-transform: none;
    color: #414141;
    margin: 0;
    margin-bottom: 8px;
	height: 44px;
    overflow: hidden;
}
.asideContentCatelogy ul li {
    margin-bottom: 22px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.asideContentCatelogy ul a {
    color: #696969;
}
.asideContentCatelogy ul li a:before {
    display: inline-block;
    vertical-align: top;
    margin: -1px 10px -1px 0;
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: normal;
}
.search{
	margin-bottom:25px;
}
.search #search{
	padding:10px;
	border-color:rgb(224, 95, 3);
	width: 77%;
	padding-bottom:10px;
}
.search span i{
	font-size: 29px;
    color: white;
	background-color: #e05f03;
	padding: 5px;
    margin-left: 5px;
}
.contentList img{
	width:745px; 
	height:350px;
}
.eDropdown {
    border: 1px solid #FF5722;
    height: 45px;
    width: 290px;
    color: black;
}