.threadInfo {
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
    font-size: 14px;
	display: inline;
	color: gray;
}
.threadInfo a{
    color: gray;

}
.space {
    border-right: 1px solid #e5e5e5;
    margin-left: 15px;
    margin-right: 15px;
}
.nav-tabs li a {
    font-weight: 700;
}
.contentThread {
    color: black;
}
.media-footer {
    margin-left: 150px;
    margin-top: -8px;
    font-size: 13px;
}
.fa-remove:hover {
    background-color: #999;
}
