
<div class="divPanel notop nobottom">

</div>

<div class="contentArea">

    <div class="divPanel notop page-content">

        <div class="breadcrumbs">
            <a href="@Url.Content("/#/Home")">Trang Chủ</a> &nbsp;/&nbsp; <span>Bạn đã đăng kí tổ chức</span>
        </div>

        <div class="row-fluid">
            <!--Edit Main Content Area here-->
            <div class="span12" id="divMain">
                <div style="text-align: center">
                    <p>Bạn đã đăng ký 1 tổ chức rồi!</p>
                    <p>
                        Tổ chức của bạn đang được kiểm duyệt từ ban quản trị, bạn không thể tao thêm tổ chức khác.
                        <a href="@Url.Content("/#/Home")">Quay về trang chủ</a>
                    </p>
                </div>
            </div>
            <!--End Main Content here-->
        </div>
        <br/>
        <br/>
        <div id="footerInnerSeparator"></div>
    </div>
</div>
@Html.Partial("../Home/_Footer")
<br /><br /><br />



