@model WingS.Models.DTOs.DonationDTO
<form id="form">
    <div>
        <label>@Model.UserId</label>
        <label>@Model.EventId</label>
        <label>@Model.DonatedMoney</label>
        <label>@Model.DonatedDate</label>
    </div>
</form>