<link rel="stylesheet" href="~/Content/css/search.css" type="text/css" />
    <div class="divPanel notop nobottom">
 
    </div>

    <div class="contentArea">

        <div class="divPanel notop page-content">

            <div class="breadcrumbs">
                <a href="/#/Home">Trang Chủ</a>&nbsp;/&nbsp; <span>Tìm kiếm</span>
            </div>
    <div class="row-fluid">
        <!--Edit Main Content Area here-->
        <div class="span12" id="divMain">
            <div class="input-group box">
                    <select class="dropDownlist">
                        <option value="user" selected="">Tài khoản</option>
                        <option value="userinfo">Cá nhân</option>
                        <option value="thread">Bài viết</option>
                        <option value="event">Sự kiện</option>
                        <option value="organization">Tổ chức</option>
                    </select>
                    <input type="text" class="form-control search-box" placeholder="Nhập từ khóa để tìm kiếm" id="SearchKey" name="searchKey" required />
                    <button class="btn btn-search" id="SearchBtn">Tìm kiếm</button>
                <div>
                    <h3 id="ErrorMessage2" style="color: red;"> </h3>
                    <p id="messageHelper" style="font-size: 120%;color: blue;"></p>
                </div>
            </div>
        </div>
        </div>
                <div class="row-fluid">
                    <div class="row span10 offset1" id="resultDiv" style="margin-left: 77px;">
                        
                    </div>
                </div>
                <div id="footerInnerSeparator"></div>
</div>
    </div>
    @Html.Partial("../Home/_Footer")
<br/><br/><br/>
<script type="text/javascript">
    $(function() {
        $("#messageHelper").html("Bạn nên nhập vào email hoặc tên tài khoản để tìm!");
        $('select').change(
            function() {
                if ($('select option:selected').val() == "user") {
                    $("#messageHelper").html("Bạn nên nhập vào email hoặc tên tài khoản để tìm!");
                } else if ($('select option:selected').val() == "userinfo") {
                    $("#messageHelper").html("Bạn nên nhập vào tên đầy đủ, địa chỉ hoặc số điện thoại để tìm!");
                } else if ($('select option:selected').val() == "thread") {
                    $("#messageHelper").html("Bạn nên nhập vào tiêu đề để tìm!");
                } else if ($('select option:selected').val() == "event") {
                    $("#messageHelper").html("Bạn nên nhập vào tên sự kiện hoặc địa điểm tổ chức để tìm!");
                } else if ($('select option:selected').val() == "organization") {
                    $("#messageHelper").html("Bạn nên nhập vào Email, tên tổ chức hoặc số điện thoại để tìm!");
                }
            }
        );
    });
    function DoSearch() {
        $("#ErrorMessage2").html("");
        if ($("#SearchKey").val() === "") {
            document.getElementById('SearchKey').style = "border-color: red;";
            $("#SearchKey").focus();
            $("#ErrorMessage2").html("Xin hãy nhập dữ liệu để tìm kiếm!");
            return false;
        }
            //} else if (!$("input:radio[name='searchType']").is(":checked")) {
            //    $("#ErrorMessage2").html("Xin hãy chọn một mục để tìm kiếm!");
            //    return false;
            //}
        else {
            $.ajax({
                type: "GET",
                url: "@Url.Content("/Search/SearchResult")",
                datatype: "JSON",
            data: {
                searchKey: $("#SearchKey").val(),
                searchType: $('select option:selected').val()
            },
            success: function (response) {
                debugger;
                var output = $("#resultDiv");
                output.empty();
                var result = "";
                if (response.status === "empty") {
                    $("#ErrorMessage2").html("Không có kết quả nào khớp với từ khóa của bạn!");
                    $("#messageHelper").html("");
                    return false;
                } else if (response.status === "error") {
                    $("#ErrorMessage2").html("Đã có lỗi xảy ra với server.Vui lòng thử lại sau!");
                    $("#messageHelper").html("");
                    return false;
                }
                //show thread result
                if (response.type === "thread") {
                    for (var i = 0; i < response.data.length; i++) {
                        var thread = response.data[i];
                        result += '<div class = "searchImg">' + '<a href="/#/ThreadDetail/' + thread.ThreadID + '">' +
                            '<img src="' + thread.ImageUrl + '" class="img-polaroid" style="width: 160px;height: 110px;" alt="thread img"></a>' + '</div>' +
                            '<div class = "searchContent"><b>Tiêu đề : </b>' + thread.ThreadName + '<br/>' +
                            '<b> Nội dung : </b>' + thread.ShortDescription + '<br/>' +
                            '<b> Ngày tạo : </b>' + thread.CreatedDate + '</div>' + '<hr style="margin-left:30px;" />';
                    };
                } 
                else if (response.type === "user" || response.type === "userinfo") {
                    for (var j = 0; j < response.data.length; j++) {
                        var user = response.data[j];
                        result += '<div class = "searchImg">' + '<a href="/#/Profile/' + user.UserName + '">' +
                            '<img src="' + user.ProfileImage + '" class="img-polaroid" style="width: 160px;height: 110px;" alt="Imgage of User"></a>' + '</div>' +
                            '<div class = "searchContent"><b>Tên đầy đủ : </b>' + user.FullName + '<br/>' +
                            '<b> Địa chỉ : </b>' + user.UserAddress + '<br/>' +
                            '<b> Số điện thoại : </b>' + user.Phone + '<br/>' + '</div>' + '<hr style="margin-left:30px;" />';
                    };
                }
                else if (response.type === "event") {
                    for (var k = 0; k < response.data.length; k++) {
                        var event = response.data[k];
                        result += '<div class = "searchImg">' + '<a href="/#/EventDetail/' + event.EventID + '">' +
                            '<img src="' + event.ImageUrl + '" class="img-polaroid" style="width: 160px;height: 110px;" alt="event img"></a>' + '</div>' +
                            '<div class = "searchContent"><b>Tên sự kiện : </b>' + event.EventName + '<br/>' +
                            '<b> Nội dung : </b>' + event.ShortDescription + '<br/>' +
                            '<b> Ngày tạo : </b>' + event.CreatedDate + '</div>' + '<hr style="margin-left:30px;" />';
                    };
                }
                else if (response.type === "organization") {
                    for (var l = 0; l < response.data.length; l++) {
                        var organization = response.data[l];
                        result += '<div class = "searchImg">' + '<a href="/#/OrganizationDetail/' + organization.OrganizationId + '">' +
                            '<img src="' + organization.LogoUrl + '" class="img-polaroid" style="width: 160px;height: 110px;" alt="organi img"></a>' + '</div>' +
                            '<div class = "searchContent"><b>Tên tổ chức : </b>' + organization.OrganizationName + '<br/>' +
                            '<b> Số điện thoaị : </b>' + organization.Phone + '<br/>' +
                            '<b> Email : </b>' + organization.Email + '<br/>' + '</div>' + '<hr style="margin-left:30px;" />';
                    };
                }
                $("#resultDiv").append(result);
                $("#messageHelper").html("");
            }
        }); // end ajax
        return true;
    }
    }
    $("#SearchBtn").click(function () {
        DoSearch();
    });
    $("#SearchKey").keypress(function (event) {
        if (event.which == 13) {
            event.preventDefault();
            DoSearch();
        }
    });
</script>