
        <div class="divPanel notop nobottom">
        </div>

        <div class="contentArea">

            <div class="divPanel notop page-content">

                <div class="breadcrumbs">
                    <a href="/#/Home">Trang Chủ</a> &nbsp;/&nbsp; <span>Lỗi</span>
                </div>

                <div class="row-fluid">
                    <!--Edit Main Content Area here-->
                    <div class="span12" id="divMain" align="center">

                        <h1>Đã xảy ra lỗi, vui lòng thử lại!</h1>
                        <div class="alert alert-danger">
                            @Html.ValidationMessage("SendMailFailed")
                        </div>
                        <hr>
                        <img src="../../Content/images/error.png" class="img-polaroid" style="margin:5px 0px 15px;" alt="">

                    </div>
                    <!--End Main Content Area-->
                </div>

                <div id="footerInnerSeparator"></div>
            </div>
        </div>
    <br /><br /><br />

    <script src="../../Content/scripts/jquery.min.js" type="text/javascript"></script>
    <script src="../../Content/scripts/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../Content/scripts/default.js" type="text/javascript"></script>
