<div class="row centered">
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <a href="event-list.html">
                <div class="circle-tile-heading blue">
                    <i class="fa fa-star fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content blue">
                <div class="circle-tile-description text-faded">
                    Sắp diễn ra
                </div>
                <div class="circle-tile-number text-faded">
                    {{EventManageInfor.NumberInComeEvent}}
                    <span id="sparklineB"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <a href="event-list.html">
                <div class="circle-tile-heading blue">
                    <i class="fa fa-star fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content blue">
                <div class="circle-tile-description text-faded">
                    Đang diễn ra
                </div>
                <div class="circle-tile-number text-faded">
                    {{EventManageInfor.NumberActiveEvent}}
                    <span id="sparklineB"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <a href="event-list.html">
                <div class="circle-tile-heading green">
                    <i class="fa fa-check fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content green">
                <div class="circle-tile-description text-faded">
                    Đã xong
                </div>
                <div class="circle-tile-number text-faded">
                    {{EventManageInfor.NumberDoneEvent}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <a href="event-list.html">
                <div class="circle-tile-heading red">
                    <i class="fa fa-ban fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content red">
                <div class="circle-tile-description text-faded">
                    Bị cấm
                </div>
                <div class="circle-tile-number text-faded">
                    {{EventManageInfor.NumberBanEvent}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <a href="event-list.html">
                <div class="circle-tile-heading orange">
                    <i class="fa fa-heart fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content orange">
                <div class="circle-tile-description text-faded">
                    Số sự kiện
                </div>
                <div class="circle-tile-number text-faded">
                    {{EventManageInfor.NumberAllEvent}}
                    <span id="sparklineB"></span>
                </div>
            </div>
        </div>
    </div>
</div>
                <!-- end DASHBOARD CIRCLE TILES -->	