<body>
    @Html.Partial("../Admin/_TopSideNavigation")
    <!-- begin MAIN PAGE CONTENT -->
    <div id="page-wrapper">
        <div class="page-content">
            <!-- begin PAGE TITLE ROW -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title">
                        <h1>
                            Thông tin người dùng
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index-2.html">Thống kê</a>
                            </li>
                            <li class="active">Thông tin người dùng</li>
                        </ol>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <!-- end PAGE TITLE ROW -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="portlet portlet-default">
                        <div class="portlet-body">
                            <ul id="userTab" class="nav nav-tabs">
                                <li class="active"><a href="#overview" onclick="return false" data-toggle="tab">Hồ sơ</a></li>
                                <li><a href="#backed" onclick="return false" data-toggle="tab">Sự kiện đã quyên góp</a></li>
                                <li><a href="#created" onclick="return false" data-toggle="tab">Bài viết đã tạo</a></li>
                            </ul>
                            <div id="userTabContent" class="tab-content">
                                <div class="tab-pane fade in active" id="overview">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <img class="img-responsive img-profile" src="{{currentUserProfile.ProfileImage}}" alt="">
                                            <div class="list-group">
                                                <a href="#" class="list-group-item active" style="text-align: center;">Tổng quan</a>
                                                <a href="#" class="list-group-item" style="padding-left: 10px;">Số sự kiện đã quyên góp<span class="badge green">{{currentUserProfile.NumberEventDonatedIn}}</span></a>
                                                <a href="#" class="list-group-item" style="padding-left: 10px;">Số bài viết đã tạo<span class="badge purple">{{currentUserProfile.NumberOfPost}}</span></a>
                                                <a href="#" class="list-group-item" style="padding-left: 10px;">Tổng số điểm<span class="badge orange">{{currentUserProfile.Point}}</span></a>
                                                <a href="#" class="list-group-item" style="padding-left: 10px;">Xếp hạng<span class="badge red">{{currentUserProfile.CurrentRank}}</span></a>
                                                <a href="#" class="list-group-item" style="padding-left: 10px;" ng-if="currentUserProfile.IsActive && currentUserProfile.IsVerify">Trạng thái<span class="badge green">Đang hoạt động</span></a>
                                                <a href="#" class="list-group-item" style="padding-left: 10px;" ng-if="!currentUserProfile.IsVerify">Trạng thái<span class="badge" style="background-color: #f0ad4e;">Chưa kích hoạt</span></a>
                                                <a href="#" class="list-group-item" style="padding-left: 10px;" ng-if="!currentUserProfile.IsActive && currentUserProfile.IsVerify">Trạng thái<span class="badge gray">Bị cấm</span></a>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div id="userSettingsContent" class="tab-content">
                                                <div class="tab-pane fade in active" id="basicInformation">
                                                    <form role="form">
                                                        <h4 class="page-header" style="margin-top: 20px;">Thông tin cá nhân:</h4>
                                                        <div class="form-group">
                                                            <label>Tên đầy đủ</label>
                                                            <input type="text" class="form-control" value="{{currentUserProfile.FullName}}" disabled>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Số điện thoại</label>
                                                            <input type="tel" class="form-control" value="{{currentUserProfile.Phone}}" disabled>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Địa chỉ</label>
                                                            <input type="text" class="form-control" value="{{currentUserProfile.Address}}" disabled>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Quốc gia</label>
                                                            <input type="text" class="form-control" value="{{currentUserProfile.Country}}" disabled>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Giới tính</label>
                                                            <input type="text" class="form-control" value="{{currentUserProfile.Gender}}" disabled>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Ngày sinh</label>
                                                            <input type="text" class="form-control" value="{{currentUserProfile.DOB}}" disabled>
                                                        </div>
                                                        <h4 class="page-header">Thông tin liên lạc:</h4>
                                                        <div class="form-group">
                                                            <label>Địa chỉ Email</label>
                                                            <input type="text" class="form-control" value="{{currentUserProfile.Email}}" disabled>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Đường dẫn Facebook</label>
                                                            <input type="text" class="form-control" value="{{currentUserProfile.FacebookUri}}" disabled>
                                                        </div>
                                                        <h4 class="page-header">Thông tin thêm:</h4>
                                                        <div class="form-group">
                                                            <label>Tổ chức</label>
                                                            <input type="text" class="form-control" value="Chua bind" disabled>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Ngày tham gia</label>
                                                            <input type="text" class="form-control" value="{{currentUserProfile.CreateDate}}" disabled>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Mô tả</label>
                                                            <input type="text" class="form-control" value="chua co tron database" disabled>
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Tab Event donated -->
                                <div class="tab-pane fade" id="backed">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="portlet portlet-default">
                                                <div class="portlet-heading">
                                                    <div class="portlet-title">
                                                        <h4>Sự kiện đã quyên góp</h4>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="table-responsive">
                                                        <table id="example-table" class="table table-striped table-bordered table-hover table-green">
                                                            <thead>
                                                                <tr>
                                                                    <th>STT</th>
                                                                    <th style="width:320px;">Tên sự kiện</th>
                                                                    <th>Thể loại</th>
                                                                    <th>Số tiền quyên góp</th>
                                                                    <th>Ngày quyên góp</th>
                                                                    <td>Hành động</td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="odd gradeX" ng-repeat="item in currentUserDonation">
                                                                    <td>{{$index + 1}}</td>
                                                                    <td>{{item.EventBasicInformation.EventName}}</td>
                                                                    <td>{{item.EventBasicInformation.EventType}}</td>
                                                                    <td>{{item.DonatedMoney}}</td>
                                                                    <td>{{item.DonatedDate}}</td>
                                                                    <td>
                                                                        <a href="project-detail.html"><button class="btn btn-blue">Xem chi tiết</button></a>
                                                                    </td>
                                                                </tr>
                                                                
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- /.table-responsive -->
                                                </div>
                                                <!-- /.portlet-body -->
                                            </div>
                                            <!-- /.portlet -->
                                        </div>
                                        <!-- /.col-lg-12 -->
                                    </div>
                                </div>
                                <!-- End tab backed projects -->
                                <!-- Tab created thread -->
                                <div class="tab-pane fade" id="created">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="portlet portlet-default">
                                                <div class="portlet-heading">
                                                    <div class="portlet-title">
                                                        <h4>Bài viết đã tạo</h4>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="table-responsive">
                                                        <table id="" class="table table-striped table-bordered table-hover table-green">
                                                            <thead>
                                                                <tr>
                                                                    <th>STT</th>
                                                                    <th>Tên bài viết</th>
                                                                    <th>Ngày tạo</th>
                                                                    <th>Trạng thái</th>
                                                                    <td>Hành động</td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="item in currentUserThread">
                                                                    <td>{{$index +1}}</td>
                                                                    <td>{{item.ThreadName}}</td>
                                                                    <td>{{item.CreatedDate}}</td>
                                                                    <td>
                                                                        <button class="btn btn-green" ng-if="item.Status">Đang Hoạt Động</button>
                                                                        <button class="btn " ng-if="!item.Status">Dừng Hoạt Động</button>
                                                                    </td>
                                                                    <td>
                                                                        <a href="project-detail.html"><button class="btn btn-blue">Xem chi tiết</button></a>
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- /.table-responsive -->
                                                </div>
                                                <!-- /.portlet-body -->
                                            </div>
                                            <!-- /.portlet -->
                                        </div>
                                        <!-- /.col-lg-12 -->
                                    </div>
                                </div>
                                <!-- End tab created project -->

                            </div>
                        </div>
                        <!-- /.portlet-body -->
                    </div>
                    <!-- /.portlet -->

                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /#page-wrapper -->
<!-- end MAIN PAGE CONTENT -->
    <!-- GLOBAL SCRIPTS -->
    <script src="~/Content/Admin/js/jquery.min.js"></script>
    <script src="~/Content/Admin/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/Admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/Admin/js/plugins/popupoverlay/jquery.popupoverlay.js"></script>
    <script src="~/Content/Admin/js/plugins/popupoverlay/defaults.js"></script>
    <!-- HISRC Retina Images -->
    <script src="~/Content/Admin/js/plugins/hisrc/hisrc.js"></script>

    <!-- PAGE LEVEL PLUGIN SCRIPTS -->
    <script src="~/Content/Admin/js/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/Admin/js/plugins/datatables/datatables-bs3.js"></script>
    <script src="~/Content/Admin/js/demo/advanced-tables-demo.js"></script>


    <!-- THEME SCRIPTS -->
    <script src="~/Content/Admin/js/flex.js"></script>
</body>