<div class="row centered">
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <div class="circle-tile-heading orange">
                <i class="fa fa-bell fa-fw fa-3x"></i>
            </div>
            <div class="circle-tile-content orange">
                <div class="circle-tile-description text-faded">
                    Mới tạo
                </div>
                <div class="circle-tile-number text-faded">
                    {{userManageInfor.NumberNewCreateUser}}
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <div class="circle-tile-heading blue">
                <i class="fa fa-user fa-fw fa-3x"></i>
            </div>
            <div class="circle-tile-content blue">
                <div class="circle-tile-description text-faded">
                    Chưa kích hoạt
                </div>
                <div class="circle-tile-number text-faded">
                    {{userManageInfor.NumberNotVerifyUser}}
                    <span id="sparklineB"></span>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <div class="circle-tile-heading green">
                <i class="fa fa-tasks fa-fw fa-3x"></i>
            </div>
            <div class="circle-tile-content green">
                <div class="circle-tile-description text-faded">
                    Bị cấm
                </div>
                <div class="circle-tile-number text-faded">
                    {{userManageInfor.NumberNotActiveUser}}
                    <span id="sparklineB"></span>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <div class="circle-tile-heading purple">
                <i class="fa fa-user fa-fw fa-3x"></i>
            </div>
            <div class="circle-tile-content purple">
                <div class="circle-tile-description text-faded">
                    Đang hoạt động
                </div>
                <div class="circle-tile-number text-faded">
                    {{userManageInfor.NumberActiveUser}}
                    <span id="sparklineD"></span>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <a href="#">
                <div class="circle-tile-heading dark-blue">
                    <i class="fa fa-users fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content dark-blue">
                <div class="circle-tile-description text-faded">
                    Tổng số
                </div>
                <div class="circle-tile-number text-faded">
                    {{userManageInfor.NumberTotalUser}}
                    <span id="sparklineA"></span>
                </div>

            </div>
        </div>
    </div>
</div>