USE [master]
GO
/****** Object:  Database [WingS]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE DATABASE [WingS] ON  PRIMARY 
( NAME = N'WingS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\WingS.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WingS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\WingS_log.ldf' , SIZE = 1344KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WingS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WingS]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 17/12/2016 8:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CommentEvent]    Script Date: 17/12/2016 8:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentEvent](
	[CommentEventId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[EventId] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[CommentDate] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.CommentEvent] PRIMARY KEY CLUSTERED 
(
	[CommentEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CommentThread]    Script Date: 17/12/2016 8:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentThread](
	[CommentThreadId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ThreadId] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[CommentDate] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.CommentThread] PRIMARY KEY CLUSTERED 
(
	[CommentThreadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Connection]    Script Date: 17/12/2016 8:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Connection](
	[ConnectionId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ConnectionString] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Connection] PRIMARY KEY CLUSTERED 
(
	[ConnectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Conversation]    Script Date: 17/12/2016 8:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversation](
	[ConservationId] [int] IDENTITY(1,1) NOT NULL,
	[CreatorId] [int] NOT NULL,
	[ReceiverId] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
	[IsCreatorRead] [bit] NOT NULL,
	[IsReceiverRead] [bit] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Conversation] PRIMARY KEY CLUSTERED 
(
	[ConservationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Donation]    Script Date: 17/12/2016 8:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donation](
	[DonationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[EventId] [int] NOT NULL,
	[TradeCode] [nvarchar](max) NULL,
	[DonatedMoney] [decimal](18, 2) NOT NULL,
	[DonatedDate] [datetime] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[IsPublic] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Donation] PRIMARY KEY CLUSTERED 
(
	[DonationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Event]    Script Date: 17/12/2016 8:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[CreatorID] [int] NOT NULL,
	[EventType] [int] NOT NULL,
	[EventName] [nvarchar](max) NULL,
	[EEventName] [nvarchar](max) NULL,
	[Created_Date] [datetime] NOT NULL,
	[Start_Date] [datetime] NOT NULL,
	[Finish_Date] [datetime] NOT NULL,
	[Updated_Date] [datetime] NOT NULL,
	[Contact] [nvarchar](max) NULL,
	[ShortDescription] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Location] [nvarchar](max) NULL,
	[VideoUrl] [nvarchar](max) NULL,
	[ExpectedMoney] [float] NOT NULL,
	[TotalPoint] [int] NOT NULL,
	[IsOpen] [bit] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Event] PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventAlbumImage]    Script Date: 17/12/2016 8:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventAlbumImage](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_dbo.EventAlbumImage] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventTimeLine]    Script Date: 17/12/2016 8:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventTimeLine](
	[TimeLineId] [int] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[FromDate] [datetime] NOT NULL,
	[ToDate] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.EventTimeLine] PRIMARY KEY CLUSTERED 
(
	[TimeLineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventType]    Script Date: 17/12/2016 8:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventType](
	[EventTypeID] [int] IDENTITY(1,1) NOT NULL,
	[EventTypeName] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.EventType] PRIMARY KEY CLUSTERED 
(
	[EventTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LikeCommentEvent]    Script Date: 17/12/2016 8:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LikeCommentEvent](
	[LikeCommentId] [int] IDENTITY(1,1) NOT NULL,
	[CommentId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.LikeCommentEvent] PRIMARY KEY CLUSTERED 
(
	[LikeCommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LikeCommentThread]    Script Date: 17/12/2016 8:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LikeCommentThread](
	[LikeCommentId] [int] IDENTITY(1,1) NOT NULL,
	[CommentId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.LikeCommentThread] PRIMARY KEY CLUSTERED 
(
	[LikeCommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LikeEvents]    Script Date: 17/12/2016 8:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LikeEvents](
	[LikeId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[EventId] [int] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.LikeEvents] PRIMARY KEY CLUSTERED 
(
	[LikeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LikeThreads]    Script Date: 17/12/2016 8:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LikeThreads](
	[LikeId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ThreadId] [int] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.LikeThreads] PRIMARY KEY CLUSTERED 
(
	[LikeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Message]    Script Date: 17/12/2016 8:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[ConservationId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Message] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Organization]    Script Date: 17/12/2016 8:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organization](
	[OrganizationId] [int] NOT NULL,
	[OrganizationName] [nvarchar](max) NULL,
	[EOrganizationName] [nvarchar](max) NULL,
	[Introduction] [nvarchar](max) NULL,
	[LogoUrl] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsVerify] [bit] NOT NULL,
	[Point] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Organization] PRIMARY KEY CLUSTERED 
(
	[OrganizationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PublicMessageDetail]    Script Date: 17/12/2016 8:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicMessageDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[EventId] [int] NOT NULL,
	[Message] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.PublicMessageDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PublicRoom]    Script Date: 17/12/2016 8:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicRoom](
	[PublicRoomId] [int] IDENTITY(1,1) NOT NULL,
	[ConnectionId] [int] NOT NULL,
	[EventId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PublicRoom] PRIMARY KEY CLUSTERED 
(
	[PublicRoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Report]    Script Date: 17/12/2016 8:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[ReportTime] [datetime] NOT NULL,
	[Type] [nvarchar](max) NULL,
	[ReportTo] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Report] PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubCommentEvent]    Script Date: 17/12/2016 8:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCommentEvent](
	[SubCommentEventId] [int] IDENTITY(1,1) NOT NULL,
	[CommentEventId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[CommentDate] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SubCommentEvent] PRIMARY KEY CLUSTERED 
(
	[SubCommentEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubCommentThread]    Script Date: 17/12/2016 8:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCommentThread](
	[SubCommentThreadId] [int] IDENTITY(1,1) NOT NULL,
	[CommentThreadId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[CommentDate] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SubCommentThread] PRIMARY KEY CLUSTERED 
(
	[SubCommentThreadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Thread]    Script Date: 17/12/2016 8:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thread](
	[ThreadId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Etitle] [nvarchar](max) NULL,
	[ShortDescription] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[VideoUrl] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Thread] PRIMARY KEY CLUSTERED 
(
	[ThreadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThreadAlbumImage]    Script Date: 17/12/2016 8:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThreadAlbumImage](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[ThreadId] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_dbo.ThreadAlbumImage] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User_Information]    Script Date: 17/12/2016 8:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Information](
	[UserID] [int] NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[EFullName] [nvarchar](max) NULL,
	[ProfileImage] [nvarchar](max) NULL,
	[UserAddress] [nvarchar](max) NULL,
	[EUserAddress] [nvarchar](max) NULL,
	[DoB] [datetime] NULL,
	[Phone] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[FacebookUrl] [nvarchar](max) NULL,
	[OrgnazationIDFollow] [nvarchar](max) NULL,
	[UserSignature] [nvarchar](max) NULL,
	[Point] [int] NOT NULL,
 CONSTRAINT [PK_dbo.User_Information] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ws_User]    Script Date: 17/12/2016 8:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ws_User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[UserPassword] [nvarchar](max) NULL,
	[AccountType] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsVerify] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastLogin] [datetime] NULL,
	[Email] [nvarchar](max) NULL,
	[VerifyCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Ws_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CommentEvent] ON 

INSERT [dbo].[CommentEvent] ([CommentEventId], [UserId], [EventId], [Content], [CommentDate], [Status]) VALUES (1, 4, 6, N'Sự kiện rất có ý nghĩa, hi vọng sẽ thành công <3', CAST(N'2016-12-17 16:28:39.257' AS DateTime), 1)
INSERT [dbo].[CommentEvent] ([CommentEventId], [UserId], [EventId], [Content], [CommentDate], [Status]) VALUES (2, 4, 2, N'Sự kiện rất hay và ý nghĩa', CAST(N'2016-12-17 16:30:35.407' AS DateTime), 1)
INSERT [dbo].[CommentEvent] ([CommentEventId], [UserId], [EventId], [Content], [CommentDate], [Status]) VALUES (3, 4, 1, N'Cho mình đăng ký tham gia với', CAST(N'2016-12-17 16:31:10.877' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CommentEvent] OFF
SET IDENTITY_INSERT [dbo].[CommentThread] ON 

INSERT [dbo].[CommentThread] ([CommentThreadId], [UserId], [ThreadId], [Content], [CommentDate], [Status]) VALUES (1, 4, 11, N'tội nghiệp bé quá :(', CAST(N'2016-12-17 16:29:48.690' AS DateTime), 1)
INSERT [dbo].[CommentThread] ([CommentThreadId], [UserId], [ThreadId], [Content], [CommentDate], [Status]) VALUES (2, 1, 10, N'mình sẽ ủng hộ 500,000 đ nhé', CAST(N'2016-12-17 16:48:51.843' AS DateTime), 1)
INSERT [dbo].[CommentThread] ([CommentThreadId], [UserId], [ThreadId], [Content], [CommentDate], [Status]) VALUES (3, 1, 11, N'mình sẽ ủng hộ 100000 nhé', CAST(N'2016-12-17 16:49:52.183' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CommentThread] OFF
SET IDENTITY_INSERT [dbo].[Connection] ON 

INSERT [dbo].[Connection] ([ConnectionId], [UserId], [ConnectionString]) VALUES (2, 1, N'fc380fe8-8ed7-4281-985e-f84a897ff5b9')
INSERT [dbo].[Connection] ([ConnectionId], [UserId], [ConnectionString]) VALUES (12, 1, N'79bf4fa7-95f8-4e84-9e58-b27619673c37')
INSERT [dbo].[Connection] ([ConnectionId], [UserId], [ConnectionString]) VALUES (43, 1, N'87247556-52b8-4058-851f-5dfc54a65416')
SET IDENTITY_INSERT [dbo].[Connection] OFF
SET IDENTITY_INSERT [dbo].[Conversation] ON 

INSERT [dbo].[Conversation] ([ConservationId], [CreatorId], [ReceiverId], [Title], [CreatedDate], [UpdatedTime], [IsCreatorRead], [IsReceiverRead], [Status]) VALUES (1, 1, 5, N'Chương trình áo ấm Hà Giang', CAST(N'2016-12-17 16:47:36.217' AS DateTime), CAST(N'2016-12-17 16:47:36.217' AS DateTime), 1, 0, 1)
INSERT [dbo].[Conversation] ([ConservationId], [CreatorId], [ReceiverId], [Title], [CreatedDate], [UpdatedTime], [IsCreatorRead], [IsReceiverRead], [Status]) VALUES (2, 2, 4, N'Họp đồ án', CAST(N'2016-12-17 16:56:51.137' AS DateTime), CAST(N'2016-12-17 16:57:03.957' AS DateTime), 1, 0, 1)
INSERT [dbo].[Conversation] ([ConservationId], [CreatorId], [ReceiverId], [Title], [CreatedDate], [UpdatedTime], [IsCreatorRead], [IsReceiverRead], [Status]) VALUES (3, 2, 5, N'Họp đồ án', CAST(N'2016-12-17 16:58:04.040' AS DateTime), CAST(N'2016-12-17 16:58:04.040' AS DateTime), 1, 0, 1)
SET IDENTITY_INSERT [dbo].[Conversation] OFF
SET IDENTITY_INSERT [dbo].[Event] ON 

SET IDENTITY_INSERT [dbo].[Event] OFF
SET IDENTITY_INSERT [dbo].[EventAlbumImage] ON 

INSERT [dbo].[EventAlbumImage] ([ImageId], [EventId], [ImageUrl], [status]) VALUES (1, 1, N'/Content/Upload/rC338C4tNT.jpg', 1)
INSERT [dbo].[EventAlbumImage] ([ImageId], [EventId], [ImageUrl], [status]) VALUES (2, 1, N'/Content/Upload/DtETMBEuMN.jpg', 1)
INSERT [dbo].[EventAlbumImage] ([ImageId], [EventId], [ImageUrl], [status]) VALUES (3, 1, N'/Content/Upload/ZaQsaAPwLH.jpg', 1)
SET IDENTITY_INSERT [dbo].[EventAlbumImage] OFF
SET IDENTITY_INSERT [dbo].[EventTimeLine] ON 

INSERT [dbo].[EventTimeLine] ([TimeLineId], [EventId], [Content], [FromDate], [ToDate], [Status]) VALUES (1, 1, N'Đoàn làm thủ tục đi đà nẵng vào buổi sáng.Đến đà nẵng tập kết quà ( vì xa quá nên đoàn dự kiến sẽ nhờ những vị quen ở đà nẵng mua quà và xe để vận chuyển ra quảng bình ).	 ', CAST(N'2016-12-20 00:00:00.000' AS DateTime), CAST(N'2016-12-22 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[EventTimeLine] ([TimeLineId], [EventId], [Content], [FromDate], [ToDate], [Status]) VALUES (2, 1, N'Đoàn sẽ đi thăm và tặng 500 - 1000 phần ( tùy số lượng kêu gọi được) cho bà con tại đây.
Sẽ đến trực tiếp nhiều nơi để lấy thông tin và chia sẽ với những hoàn cảnh khó khăn nhất.	 ', CAST(N'2016-12-23 00:00:00.000' AS DateTime), CAST(N'2016-12-28 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[EventTimeLine] ([TimeLineId], [EventId], [Content], [FromDate], [ToDate], [Status]) VALUES (3, 1, N'Đoàn khởi hành về lại sài gòn.Kết thúc chuyến đi	 ', CAST(N'2016-12-29 00:00:00.000' AS DateTime), CAST(N'2016-12-30 00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[EventTimeLine] OFF
SET IDENTITY_INSERT [dbo].[EventType] ON 

INSERT [dbo].[EventType] ([EventTypeID], [EventTypeName], [Content], [IsActive]) VALUES (1, N'Y tế cộng đồng', N'Các hoạt động liên quan tới y tế', 1)
INSERT [dbo].[EventType] ([EventTypeID], [EventTypeName], [Content], [IsActive]) VALUES (2, N'Văn hóa - Xã hội', N'Các hoạt động liên quan tới lĩnh vực văn hóa, xã hội', 1)
INSERT [dbo].[EventType] ([EventTypeID], [EventTypeName], [Content], [IsActive]) VALUES (3, N'Giáo dục', N'Các hoạt động liên quan tới lĩnh vực giáo dục', 1)
SET IDENTITY_INSERT [dbo].[EventType] OFF
SET IDENTITY_INSERT [dbo].[LikeCommentEvent] ON 

INSERT [dbo].[LikeCommentEvent] ([LikeCommentId], [CommentId], [UserId], [Status]) VALUES (1, 1, 4, 1)
INSERT [dbo].[LikeCommentEvent] ([LikeCommentId], [CommentId], [UserId], [Status]) VALUES (2, 2, 4, 1)
INSERT [dbo].[LikeCommentEvent] ([LikeCommentId], [CommentId], [UserId], [Status]) VALUES (3, 3, 4, 1)
SET IDENTITY_INSERT [dbo].[LikeCommentEvent] OFF
SET IDENTITY_INSERT [dbo].[LikeCommentThread] ON 

INSERT [dbo].[LikeCommentThread] ([LikeCommentId], [CommentId], [UserId], [Status]) VALUES (1, 1, 4, 1)
INSERT [dbo].[LikeCommentThread] ([LikeCommentId], [CommentId], [UserId], [Status]) VALUES (2, 2, 1, 1)
INSERT [dbo].[LikeCommentThread] ([LikeCommentId], [CommentId], [UserId], [Status]) VALUES (3, 3, 1, 1)
SET IDENTITY_INSERT [dbo].[LikeCommentThread] OFF
SET IDENTITY_INSERT [dbo].[LikeEvents] ON 

INSERT [dbo].[LikeEvents] ([LikeId], [UserId], [EventId], [Status]) VALUES (1, 1, 2, 1)
INSERT [dbo].[LikeEvents] ([LikeId], [UserId], [EventId], [Status]) VALUES (2, 4, 6, 1)
INSERT [dbo].[LikeEvents] ([LikeId], [UserId], [EventId], [Status]) VALUES (3, 4, 1, 1)
SET IDENTITY_INSERT [dbo].[LikeEvents] OFF
SET IDENTITY_INSERT [dbo].[LikeThreads] ON 

INSERT [dbo].[LikeThreads] ([LikeId], [UserId], [ThreadId], [Status]) VALUES (1, 4, 5, 1)
INSERT [dbo].[LikeThreads] ([LikeId], [UserId], [ThreadId], [Status]) VALUES (2, 3, 6, 1)
INSERT [dbo].[LikeThreads] ([LikeId], [UserId], [ThreadId], [Status]) VALUES (3, 5, 7, 1)
SET IDENTITY_INSERT [dbo].[LikeThreads] OFF
SET IDENTITY_INSERT [dbo].[Message] ON 

INSERT [dbo].[Message] ([MessageId], [ConservationId], [UserId], [CreatedDate], [Content], [Status]) VALUES (1, 1, 1, CAST(N'2016-12-17 16:47:36.253' AS DateTime), N'bạn có thể nói rõ hơn về chương trình cho mình được không', 1)
INSERT [dbo].[Message] ([MessageId], [ConservationId], [UserId], [CreatedDate], [Content], [Status]) VALUES (2, 2, 2, CAST(N'2016-12-17 16:56:51.163' AS DateTime), N'Ngày mai 23/12/2016 cùng gặp thầy nhé', 1)
INSERT [dbo].[Message] ([MessageId], [ConservationId], [UserId], [CreatedDate], [Content], [Status]) VALUES (3, 2, 2, CAST(N'2016-12-17 16:57:03.913' AS DateTime), N'đừng đến muộn', 1)
SET IDENTITY_INSERT [dbo].[Message] OFF
SET IDENTITY_INSERT [dbo].[PublicMessageDetail] ON 

INSERT [dbo].[PublicMessageDetail] ([Id], [UserId], [EventId], [Message], [CreatedDate], [Status]) VALUES (1, 4, 1, N'mình cũng muốn tham gia chương trình,', CAST(N'2016-12-17 16:31:25.637' AS DateTime), 1)
INSERT [dbo].[PublicMessageDetail] ([Id], [UserId], [EventId], [Message], [CreatedDate], [Status]) VALUES (2, 4, 1, N'hiện tại mình có một số thắc mắc', CAST(N'2016-12-17 16:31:53.263' AS DateTime), 1)
INSERT [dbo].[PublicMessageDetail] ([Id], [UserId], [EventId], [Message], [CreatedDate], [Status]) VALUES (3, 5, 2, N'chào các bạn', CAST(N'2016-12-17 16:34:11.443' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[PublicMessageDetail] OFF
SET IDENTITY_INSERT [dbo].[PublicRoom] ON 

INSERT [dbo].[PublicRoom] ([PublicRoomId], [ConnectionId], [EventId]) VALUES (3, 111, 1)
INSERT [dbo].[PublicRoom] ([PublicRoomId], [ConnectionId], [EventId]) VALUES (4, 111, 6)
INSERT [dbo].[PublicRoom] ([PublicRoomId], [ConnectionId], [EventId]) VALUES (5, 111, 5)
SET IDENTITY_INSERT [dbo].[PublicRoom] OFF
SET IDENTITY_INSERT [dbo].[SubCommentEvent] ON 

INSERT [dbo].[SubCommentEvent] ([SubCommentEventId], [CommentEventId], [UserId], [Content], [CommentDate], [Status]) VALUES (1, 2, 5, N'T cũng thấy thế', CAST(N'2016-12-17 16:34:57.907' AS DateTime), 1)
INSERT [dbo].[SubCommentEvent] ([SubCommentEventId], [CommentEventId], [UserId], [Content], [CommentDate], [Status]) VALUES (2, 3, 5, N'bạn hãy liên lạc với tổ chức nhé, bạn xem thông tin liên lạc ở phần liên lạc đó', CAST(N'2016-12-17 16:37:18.417' AS DateTime), 1)
INSERT [dbo].[SubCommentEvent] ([SubCommentEventId], [CommentEventId], [UserId], [Content], [CommentDate], [Status]) VALUES (3, 4, 5, N'bạn có thể liên lạc với tổ chức hoặc xem chi tiết bên trên nhé', CAST(N'2016-12-17 16:39:52.787' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[SubCommentEvent] OFF
SET IDENTITY_INSERT [dbo].[SubCommentThread] ON 

INSERT [dbo].[SubCommentThread] ([SubCommentThreadId], [CommentThreadId], [UserId], [Content], [CommentDate], [Status]) VALUES (1, 8, 2, N'', CAST(N'2016-12-17 17:00:54.487' AS DateTime), 1)
INSERT [dbo].[SubCommentThread] ([SubCommentThreadId], [CommentThreadId], [UserId], [Content], [CommentDate], [Status]) VALUES (2, 8, 2, N'Hãy cùng giúp bác ấy nhé', CAST(N'2016-12-17 17:00:56.880' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[SubCommentThread] OFF
SET IDENTITY_INSERT [dbo].[Thread] ON 

SET IDENTITY_INSERT [dbo].[Thread] OFF
SET IDENTITY_INSERT [dbo].[ThreadAlbumImage] ON 

INSERT [dbo].[ThreadAlbumImage] ([ImageId], [ThreadId], [ImageUrl], [status]) VALUES (1, 1, N'/Content/Upload/SFWTBabIcT.jpg', 1)
INSERT [dbo].[ThreadAlbumImage] ([ImageId], [ThreadId], [ImageUrl], [status]) VALUES (2, 1, N'/Content/Upload/vWPxqhtUE2.jpg', 1)
INSERT [dbo].[ThreadAlbumImage] ([ImageId], [ThreadId], [ImageUrl], [status]) VALUES (3, 1, N'/Content/Upload/kvt9coc05Z.jpg', 1)
SET IDENTITY_INSERT [dbo].[ThreadAlbumImage] OFF
INSERT [dbo].[User_Information] ([UserID], [FullName], [EFullName], [ProfileImage], [UserAddress], [EUserAddress], [DoB], [Phone], [Gender], [Country], [FacebookUrl], [OrgnazationIDFollow], [UserSignature], [Point]) VALUES (1, N'Đỗ Văn Tuấn ', N'Do Van Tuan ', N'/Content/Upload/tuandv01.jpg', N'DH-FPT, Thạch Thất, Hà Nội', N'DH-FPT, Thach That, Ha Noi', CAST(N'1994-08-17 00:00:00.000' AS DateTime), N'01697502748', N'Nam', N'Việt Nam', N'https://www.facebook.com/Tuan.Dragon.DoVan', NULL, N'Nothing is Impossible', 1000)
INSERT [dbo].[User_Information] ([UserID], [FullName], [EFullName], [ProfileImage], [UserAddress], [EUserAddress], [DoB], [Phone], [Gender], [Country], [FacebookUrl], [OrgnazationIDFollow], [UserSignature], [Point]) VALUES (2, N'Hoàng Anh Tuấn', N'Hoang Anh Tuan', N'/Content/Upload/tuanha.jpg', N'DH-FPT, Thạch Thất, Hà Nội', N'DH-FPT, Thach That, Ha Noi', CAST(N'1993-06-17 00:00:00.000' AS DateTime), N'01697502748', N'Nam', N'Việt Nam', N'https://www.facebook.com/Tuan.Dragon.DoVan', NULL, N'FA', 700)
INSERT [dbo].[User_Information] ([UserID], [FullName], [EFullName], [ProfileImage], [UserAddress], [EUserAddress], [DoB], [Phone], [Gender], [Country], [FacebookUrl], [OrgnazationIDFollow], [UserSignature], [Point]) VALUES (3, N'Lê Hồng Nhiên', N'Le Hong Nhien', N'/Content/Upload/nhienlh.jpg', N'DH-FPT, Thạch Thất, Hà Nội', N'DH-FPT, Thach That, Ha Noi', CAST(N'1994-08-17 00:00:00.000' AS DateTime), N'01697503214', N'Nam', N'Việt Nam', N'https://www.facebook.com/Tuan.Dragon.DoVan', NULL, N'FA', 300)
SET IDENTITY_INSERT [dbo].[Ws_User] ON 

INSERT [dbo].[Ws_User] ([UserID], [UserName], [UserPassword], [AccountType], [IsActive], [IsVerify], [CreatedDate], [LastLogin], [Email], [VerifyCode]) VALUES (1, N'tuandv01', N'25d55ad283aa400af464c76d713c07ad', 0, 1, 1, CAST(N'2016-12-16 13:25:27.457' AS DateTime), CAST(N'2016-12-17 16:40:41.267' AS DateTime), N'tuandvse03297@fpt.edu.vn', N'755157')
INSERT [dbo].[Ws_User] ([UserID], [UserName], [UserPassword], [AccountType], [IsActive], [IsVerify], [CreatedDate], [LastLogin], [Email], [VerifyCode]) VALUES (2, N'tuanha01', N'25d55ad283aa400af464c76d713c07ad', 0, 1, 1, CAST(N'2016-12-16 13:25:27.457' AS DateTime), CAST(N'2016-12-17 16:52:57.267' AS DateTime), N'tuanhase03108@fpt.edu.vn', N'234231')
INSERT [dbo].[Ws_User] ([UserID], [UserName], [UserPassword], [AccountType], [IsActive], [IsVerify], [CreatedDate], [LastLogin], [Email], [VerifyCode]) VALUES (3, N'nhienlh01', N'25d55ad283aa400af464c76d713c07ad', 0, 1, 1, CAST(N'2016-12-16 13:25:27.457' AS DateTime), CAST(N'2016-12-17 17:02:59.263' AS DateTime), N'nhienlhse03377@fpt.edu.vn', N'221334')
SET IDENTITY_INSERT [dbo].[Ws_User] OFF
/****** Object:  Index [IX_EventId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_EventId] ON [dbo].[CommentEvent]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[CommentEvent]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ThreadId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_ThreadId] ON [dbo].[CommentThread]
(
	[ThreadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[CommentThread]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Connection]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreatorId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreatorId] ON [dbo].[Conversation]
(
	[CreatorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReceiverId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_ReceiverId] ON [dbo].[Conversation]
(
	[ReceiverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_EventId] ON [dbo].[Donation]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Donation]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreatorID]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreatorID] ON [dbo].[Event]
(
	[CreatorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventType]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_EventType] ON [dbo].[Event]
(
	[EventType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_EventId] ON [dbo].[EventAlbumImage]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_EventId] ON [dbo].[EventTimeLine]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommentId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_CommentId] ON [dbo].[LikeCommentEvent]
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[LikeCommentEvent]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommentId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_CommentId] ON [dbo].[LikeCommentThread]
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[LikeCommentThread]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_EventId] ON [dbo].[LikeEvents]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[LikeEvents]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ThreadId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_ThreadId] ON [dbo].[LikeThreads]
(
	[ThreadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[LikeThreads]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ConservationId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_ConservationId] ON [dbo].[Message]
(
	[ConservationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Message]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrganizationId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrganizationId] ON [dbo].[Organization]
(
	[OrganizationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_EventId] ON [dbo].[PublicMessageDetail]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[PublicMessageDetail]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ConnectionId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_ConnectionId] ON [dbo].[PublicRoom]
(
	[ConnectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_EventId] ON [dbo].[PublicRoom]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Report]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommentEventId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_CommentEventId] ON [dbo].[SubCommentEvent]
(
	[CommentEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[SubCommentEvent]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommentThreadId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_CommentThreadId] ON [dbo].[SubCommentThread]
(
	[CommentThreadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[SubCommentThread]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Thread]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ThreadId]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_ThreadId] ON [dbo].[ThreadAlbumImage]
(
	[ThreadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 17/12/2016 8:40:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[User_Information]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CommentEvent]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CommentEvent_dbo.Event_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[CommentEvent] CHECK CONSTRAINT [FK_dbo.CommentEvent_dbo.Event_EventId]
GO
ALTER TABLE [dbo].[CommentEvent]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CommentEvent_dbo.Ws_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Ws_User] ([UserID])
GO
ALTER TABLE [dbo].[CommentEvent] CHECK CONSTRAINT [FK_dbo.CommentEvent_dbo.Ws_User_UserId]
GO
ALTER TABLE [dbo].[CommentThread]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CommentThread_dbo.Thread_ThreadId] FOREIGN KEY([ThreadId])
REFERENCES [dbo].[Thread] ([ThreadId])
GO
ALTER TABLE [dbo].[CommentThread] CHECK CONSTRAINT [FK_dbo.CommentThread_dbo.Thread_ThreadId]
GO
ALTER TABLE [dbo].[CommentThread]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CommentThread_dbo.Ws_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Ws_User] ([UserID])
GO
ALTER TABLE [dbo].[CommentThread] CHECK CONSTRAINT [FK_dbo.CommentThread_dbo.Ws_User_UserId]
GO
ALTER TABLE [dbo].[Connection]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Connection_dbo.Ws_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Ws_User] ([UserID])
GO
ALTER TABLE [dbo].[Connection] CHECK CONSTRAINT [FK_dbo.Connection_dbo.Ws_User_UserId]
GO
ALTER TABLE [dbo].[Conversation]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Conversation_dbo.Ws_User_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Ws_User] ([UserID])
GO
ALTER TABLE [dbo].[Conversation] CHECK CONSTRAINT [FK_dbo.Conversation_dbo.Ws_User_CreatorId]
GO
ALTER TABLE [dbo].[Conversation]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Conversation_dbo.Ws_User_ReceiverId] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Ws_User] ([UserID])
GO
ALTER TABLE [dbo].[Conversation] CHECK CONSTRAINT [FK_dbo.Conversation_dbo.Ws_User_ReceiverId]
GO
ALTER TABLE [dbo].[Donation]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Donation_dbo.Event_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[Donation] CHECK CONSTRAINT [FK_dbo.Donation_dbo.Event_EventId]
GO
ALTER TABLE [dbo].[Donation]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Donation_dbo.Ws_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Ws_User] ([UserID])
GO
ALTER TABLE [dbo].[Donation] CHECK CONSTRAINT [FK_dbo.Donation_dbo.Ws_User_UserId]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Event_dbo.EventType_EventType] FOREIGN KEY([EventType])
REFERENCES [dbo].[EventType] ([EventTypeID])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_dbo.Event_dbo.EventType_EventType]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Event_dbo.Organization_CreatorID] FOREIGN KEY([CreatorID])
REFERENCES [dbo].[Organization] ([OrganizationId])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_dbo.Event_dbo.Organization_CreatorID]
GO
ALTER TABLE [dbo].[EventAlbumImage]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EventAlbumImage_dbo.Event_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[EventAlbumImage] CHECK CONSTRAINT [FK_dbo.EventAlbumImage_dbo.Event_EventId]
GO
ALTER TABLE [dbo].[EventTimeLine]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EventTimeLine_dbo.Event_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[EventTimeLine] CHECK CONSTRAINT [FK_dbo.EventTimeLine_dbo.Event_EventId]
GO
ALTER TABLE [dbo].[LikeCommentEvent]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LikeCommentEvent_dbo.CommentEvent_CommentId] FOREIGN KEY([CommentId])
REFERENCES [dbo].[CommentEvent] ([CommentEventId])
GO
ALTER TABLE [dbo].[LikeCommentEvent] CHECK CONSTRAINT [FK_dbo.LikeCommentEvent_dbo.CommentEvent_CommentId]
GO
ALTER TABLE [dbo].[LikeCommentEvent]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LikeCommentEvent_dbo.Ws_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Ws_User] ([UserID])
GO
ALTER TABLE [dbo].[LikeCommentEvent] CHECK CONSTRAINT [FK_dbo.LikeCommentEvent_dbo.Ws_User_UserId]
GO
ALTER TABLE [dbo].[LikeCommentThread]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LikeCommentThread_dbo.CommentThread_CommentId] FOREIGN KEY([CommentId])
REFERENCES [dbo].[CommentThread] ([CommentThreadId])
GO
ALTER TABLE [dbo].[LikeCommentThread] CHECK CONSTRAINT [FK_dbo.LikeCommentThread_dbo.CommentThread_CommentId]
GO
ALTER TABLE [dbo].[LikeCommentThread]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LikeCommentThread_dbo.Ws_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Ws_User] ([UserID])
GO
ALTER TABLE [dbo].[LikeCommentThread] CHECK CONSTRAINT [FK_dbo.LikeCommentThread_dbo.Ws_User_UserId]
GO
ALTER TABLE [dbo].[LikeEvents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LikeEvents_dbo.Event_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[LikeEvents] CHECK CONSTRAINT [FK_dbo.LikeEvents_dbo.Event_EventId]
GO
ALTER TABLE [dbo].[LikeEvents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LikeEvents_dbo.Ws_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Ws_User] ([UserID])
GO
ALTER TABLE [dbo].[LikeEvents] CHECK CONSTRAINT [FK_dbo.LikeEvents_dbo.Ws_User_UserId]
GO
ALTER TABLE [dbo].[LikeThreads]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LikeThreads_dbo.Thread_ThreadId] FOREIGN KEY([ThreadId])
REFERENCES [dbo].[Thread] ([ThreadId])
GO
ALTER TABLE [dbo].[LikeThreads] CHECK CONSTRAINT [FK_dbo.LikeThreads_dbo.Thread_ThreadId]
GO
ALTER TABLE [dbo].[LikeThreads]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LikeThreads_dbo.Ws_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Ws_User] ([UserID])
GO
ALTER TABLE [dbo].[LikeThreads] CHECK CONSTRAINT [FK_dbo.LikeThreads_dbo.Ws_User_UserId]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Message_dbo.Conversation_ConservationId] FOREIGN KEY([ConservationId])
REFERENCES [dbo].[Conversation] ([ConservationId])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_dbo.Message_dbo.Conversation_ConservationId]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Message_dbo.Ws_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Ws_User] ([UserID])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_dbo.Message_dbo.Ws_User_UserId]
GO
ALTER TABLE [dbo].[Organization]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Organization_dbo.Ws_User_OrganizationId] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Ws_User] ([UserID])
GO
ALTER TABLE [dbo].[Organization] CHECK CONSTRAINT [FK_dbo.Organization_dbo.Ws_User_OrganizationId]
GO
ALTER TABLE [dbo].[PublicMessageDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PublicMessageDetail_dbo.Event_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[PublicMessageDetail] CHECK CONSTRAINT [FK_dbo.PublicMessageDetail_dbo.Event_EventId]
GO
ALTER TABLE [dbo].[PublicMessageDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PublicMessageDetail_dbo.Ws_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Ws_User] ([UserID])
GO
ALTER TABLE [dbo].[PublicMessageDetail] CHECK CONSTRAINT [FK_dbo.PublicMessageDetail_dbo.Ws_User_UserId]
GO
ALTER TABLE [dbo].[PublicRoom]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PublicRoom_dbo.Connection_ConnectionId] FOREIGN KEY([ConnectionId])
REFERENCES [dbo].[Connection] ([ConnectionId])
GO
ALTER TABLE [dbo].[PublicRoom] CHECK CONSTRAINT [FK_dbo.PublicRoom_dbo.Connection_ConnectionId]
GO
ALTER TABLE [dbo].[PublicRoom]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PublicRoom_dbo.Event_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[PublicRoom] CHECK CONSTRAINT [FK_dbo.PublicRoom_dbo.Event_EventId]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Report_dbo.Ws_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Ws_User] ([UserID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_dbo.Report_dbo.Ws_User_UserId]
GO
ALTER TABLE [dbo].[SubCommentEvent]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubCommentEvent_dbo.CommentEvent_CommentEventId] FOREIGN KEY([CommentEventId])
REFERENCES [dbo].[CommentEvent] ([CommentEventId])
GO
ALTER TABLE [dbo].[SubCommentEvent] CHECK CONSTRAINT [FK_dbo.SubCommentEvent_dbo.CommentEvent_CommentEventId]
GO
ALTER TABLE [dbo].[SubCommentEvent]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubCommentEvent_dbo.Ws_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Ws_User] ([UserID])
GO
ALTER TABLE [dbo].[SubCommentEvent] CHECK CONSTRAINT [FK_dbo.SubCommentEvent_dbo.Ws_User_UserId]
GO
ALTER TABLE [dbo].[SubCommentThread]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubCommentThread_dbo.CommentThread_CommentThreadId] FOREIGN KEY([CommentThreadId])
REFERENCES [dbo].[CommentThread] ([CommentThreadId])
GO
ALTER TABLE [dbo].[SubCommentThread] CHECK CONSTRAINT [FK_dbo.SubCommentThread_dbo.CommentThread_CommentThreadId]
GO
ALTER TABLE [dbo].[SubCommentThread]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubCommentThread_dbo.Ws_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Ws_User] ([UserID])
GO
ALTER TABLE [dbo].[SubCommentThread] CHECK CONSTRAINT [FK_dbo.SubCommentThread_dbo.Ws_User_UserId]
GO
ALTER TABLE [dbo].[Thread]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Thread_dbo.Ws_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Ws_User] ([UserID])
GO
ALTER TABLE [dbo].[Thread] CHECK CONSTRAINT [FK_dbo.Thread_dbo.Ws_User_UserId]
GO
ALTER TABLE [dbo].[ThreadAlbumImage]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ThreadAlbumImage_dbo.Thread_ThreadId] FOREIGN KEY([ThreadId])
REFERENCES [dbo].[Thread] ([ThreadId])
GO
ALTER TABLE [dbo].[ThreadAlbumImage] CHECK CONSTRAINT [FK_dbo.ThreadAlbumImage_dbo.Thread_ThreadId]
GO
ALTER TABLE [dbo].[User_Information]  WITH CHECK ADD  CONSTRAINT [FK_dbo.User_Information_dbo.Ws_User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Ws_User] ([UserID])
GO
ALTER TABLE [dbo].[User_Information] CHECK CONSTRAINT [FK_dbo.User_Information_dbo.Ws_User_UserID]
GO
USE [master]
GO
